flows2.json
[{"id":"2af67d85.263f62","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6bac7b03.f9c084","type":"ui_dropdown","z":"2af67d85.263f62","name":"","label":"","tooltip":"","place":"Selecione um IED","group":"d9398948.a89268","order":1,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":216.71401977539062,"y":240.01893615722656,"wires":[["b3a0b876.1ce0e8"]]},{"id":"c949c910.5e9478","type":"inject","z":"2af67d85.263f62","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":165.5236930847168,"y":128.78599166870117,"wires":[["351fd730.bf4918"]]},{"id":"351fd730.bf4918","type":"function","z":"2af67d85.263f62","name":"Make request","func":"msg.method = \"GET\";\nmsg.url = \"http://177.20.148.103:1026/v2/entities?type=IEC61850\"\nmsg.headers = {};\nmsg.headers['fiware-service'] = 'openiot';\nmsg.headers['fiware-servicepath'] = '/';\nreturn msg;","outputs":1,"noerr":0,"x":337.97825622558594,"y":122.85984230041504,"wires":[["188d87ca.9f4218"]]},{"id":"188d87ca.9f4218","type":"http request","z":"2af67d85.263f62","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":528.5264778137207,"y":125.42520236968994,"wires":[["bbd1ef2c.cb801"]]},{"id":"bbd1ef2c.cb801","type":"function","z":"2af67d85.263f62","name":"Filter IDs","func":"var ids = [];\nmsg.payload.forEach((elem, idx) => {\n    ids.push(elem.id);\n});\nreturn {options:ids};","outputs":1,"noerr":0,"x":697.3361835479736,"y":127.85696506500244,"wires":[["6bac7b03.f9c084"]]},{"id":"32995324.583b2c","type":"ui_template","z":"2af67d85.263f62","group":"d9398948.a89268","name":"","order":2,"width":7,"height":1,"format":"<div id=\"simpleIOGenericIO.GGIO1.AnIn1.mag.f\">simpleIOGenericIO.GGIO1.AnIn1.mag.f: <div ng-bind-html=\"msg.payload['simpleIOGenericIO.GGIO1.AnIn1.mag.f'].value\"></div></div>\n<br>\n<div id=\"simpleIOGenericIO.GGIO1.AnIn2.mag.f\">simpleIOGenericIO.GGIO1.AnIn2.mag.f: <div ng-bind-html=\"msg.payload['simpleIOGenericIO.GGIO1.AnIn2.mag.f'].value\"></div></div>\n<br>\n<div id=\"simpleIOGenericIO.GGIO1.AnIn3.mag.f\">simpleIOGenericIO.GGIO1.AnIn3.mag.f: <div ng-bind-html=\"msg.payload['simpleIOGenericIO.GGIO1.AnIn3.mag.f'].value\"></div></div>\n<br>\n<div id=\"simpleIOGenericIO.GGIO1.AnIn4.mag.f\">simpleIOGenericIO.GGIO1.AnIn4.mag.f: <div ng-bind-html=\"msg.payload['simpleIOGenericIO.GGIO1.AnIn4.mag.f'].value\"></div></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":681.7225570678711,"y":237.37386322021484,"wires":[[]]},{"id":"b3a0b876.1ce0e8","type":"change","z":"2af67d85.263f62","name":"","rules":[{"t":"set","p":"iec","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":393.7254180908203,"y":235.3540153503418,"wires":[[]]},{"id":"738cafe5.f67b5","type":"inject","z":"2af67d85.263f62","name":"","topic":"","payload":"iec","payloadType":"flow","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":163.72254943847656,"y":340.74904441833496,"wires":[["d783402f.86ec2"]]},{"id":"d783402f.86ec2","type":"function","z":"2af67d85.263f62","name":"Make request","func":"msg.method = \"GET\";\nmsg.url = \"http://177.20.148.103:1026/v2/entities/\"+msg.payload+\"?type=IEC61850\";\nmsg.headers = {};\nmsg.headers['fiware-service'] = 'openiot';\nmsg.headers['fiware-servicepath'] = '/';\nreturn msg;","outputs":1,"noerr":0,"x":336.5379104614258,"y":325.7860050201416,"wires":[["80aed849.c21c88"]]},{"id":"80aed849.c21c88","type":"http request","z":"2af67d85.263f62","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":514.0861282348633,"y":320.35136795043945,"wires":[["32995324.583b2c","e7959c86.3a1b2","b89b84f6.92d358","158d85e4.f1cbfa","fbb8e918.57b608"]]},{"id":"242bcee6.e8ce92","type":"ui_gauge","z":"2af67d85.263f62","name":"","group":"867e2c76.a5291","order":1,"width":7,"height":5,"gtype":"gage","title":"simpleIOGenericIO.GGIO1.AnIn1.mag.f","label":"V","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1149.3560791015625,"y":189.71771812438965,"wires":[]},{"id":"e7959c86.3a1b2","type":"function","z":"2af67d85.263f62","name":"Voltagem1","func":"\nreturn msg.payload['simpleIOGenericIO.GGIO1.AnIn1.mag.f'];","outputs":1,"noerr":0,"x":873.2623138427734,"y":257.55862522125244,"wires":[["242bcee6.e8ce92"]]},{"id":"b89b84f6.92d358","type":"function","z":"2af67d85.263f62","name":"Voltagem2","func":"\nreturn msg.payload['simpleIOGenericIO.GGIO1.AnIn2.mag.f'];","outputs":1,"noerr":0,"x":869.3560943603516,"y":362.33146476745605,"wires":[["5f15de00.d8bdd"]]},{"id":"5f15de00.d8bdd","type":"ui_gauge","z":"2af67d85.263f62","name":"","group":"867e2c76.a5291","order":2,"width":7,"height":5,"gtype":"gage","title":"simpleIOGenericIO.GGIO1.AnIn2.mag.f","label":"V","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1145.4498596191406,"y":294.49055767059326,"wires":[]},{"id":"158d85e4.f1cbfa","type":"function","z":"2af67d85.263f62","name":"Voltagem3","func":"\nreturn msg.payload['simpleIOGenericIO.GGIO1.AnIn3.mag.f'];","outputs":1,"noerr":0,"x":859.3560943603516,"y":459.33146476745605,"wires":[["621ce051.a7211"]]},{"id":"621ce051.a7211","type":"ui_gauge","z":"2af67d85.263f62","name":"","group":"867e2c76.a5291","order":3,"width":7,"height":5,"gtype":"gage","title":"simpleIOGenericIO.GGIO1.AnIn3.mag.f","label":"V","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1135.4498596191406,"y":391.49055767059326,"wires":[]},{"id":"fbb8e918.57b608","type":"function","z":"2af67d85.263f62","name":"Voltagem4","func":"\nreturn msg.payload['simpleIOGenericIO.GGIO1.AnIn4.mag.f'];","outputs":1,"noerr":0,"x":852.9015045166016,"y":564.604169845581,"wires":[["a8b51862.7a0668"]]},{"id":"a8b51862.7a0668","type":"ui_gauge","z":"2af67d85.263f62","name":"","group":"867e2c76.a5291","order":4,"width":7,"height":5,"gtype":"gage","title":"simpleIOGenericIO.GGIO1.AnIn4.mag.f","label":"V","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1128.9952697753906,"y":496.76326274871826,"wires":[]},{"id":"350824cc.d6f00c","type":"ui_dropdown","z":"2af67d85.263f62","name":"","label":"","tooltip":"","place":"Selecione um IED","group":"2df5aa6f.b7bf96","order":1,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":243.3806915283203,"y":1080.0189208984375,"wires":[["6df9b333.cb871c"]]},{"id":"bb5dc84e.061698","type":"inject","z":"2af67d85.263f62","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":192.19036483764648,"y":968.7859764099121,"wires":[["643e35d5.72fe6c"]]},{"id":"643e35d5.72fe6c","type":"function","z":"2af67d85.263f62","name":"Make request","func":"msg.method = \"GET\";\nmsg.url = \"http://177.20.148.103:1026/v2/entities?type=DNP3\"\nmsg.headers = {};\nmsg.headers['fiware-service'] = 'openiot';\nmsg.headers['fiware-servicepath'] = '/';\nreturn msg;","outputs":1,"noerr":0,"x":364.6449279785156,"y":962.859827041626,"wires":[["905b3c9e.e1021"]]},{"id":"905b3c9e.e1021","type":"http request","z":"2af67d85.263f62","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":555.1931495666504,"y":965.4251871109009,"wires":[["f4beb012.43c43"]]},{"id":"6df9b333.cb871c","type":"change","z":"2af67d85.263f62","name":"","rules":[{"t":"set","p":"dnp3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420.39208984375,"y":1075.3540000915527,"wires":[[]]},{"id":"f4beb012.43c43","type":"function","z":"2af67d85.263f62","name":"Filter IDs","func":"var ids = [];\nmsg.payload.forEach((elem, idx) => {\n    ids.push(elem.id);\n});\nreturn {options:ids};","outputs":1,"noerr":0,"x":724.0028553009033,"y":967.8569498062134,"wires":[["350824cc.d6f00c"]]},{"id":"3bad7746.98c478","type":"inject","z":"2af67d85.263f62","name":"","topic":"","payload":"dnp3","payloadType":"flow","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":189.19886779785156,"y":1240.6552734375,"wires":[["e480383.a8fe9c8"]]},{"id":"e480383.a8fe9c8","type":"function","z":"2af67d85.263f62","name":"Make request","func":"msg.method = \"GET\";\nmsg.url = \"http://177.20.148.103:1026/v2/entities/\"+msg.payload+\"?type=DNP3\";\nmsg.headers = {};\nmsg.headers['fiware-service'] = 'openiot';\nmsg.headers['fiware-servicepath'] = '/';\nreturn msg;","outputs":1,"noerr":0,"x":365.01424407958984,"y":1225.6921997070312,"wires":[["a367880.9bf6178"]]},{"id":"a367880.9bf6178","type":"http request","z":"2af67d85.263f62","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":549.5624542236328,"y":1208.2575187683105,"wires":[["fa16f3fc.d6fd8","928a9ac5.c24838","a623b99d.d9a5d8"]]},{"id":"fa16f3fc.d6fd8","type":"ui_template","z":"2af67d85.263f62","group":"2df5aa6f.b7bf96","name":"","order":2,"width":7,"height":1,"format":"<div id=\"Index\">Index: <div ng-bind-html=\"msg.payload.index.value\"></div></div>\n<br>\n<div id=\"Value\">Value: <div ng-bind-html=\"msg.payload.value.value\"></div></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":697.1988754272461,"y":1137.2800922393799,"wires":[[]]},{"id":"928a9ac5.c24838","type":"function","z":"2af67d85.263f62","name":"Index","func":"\nreturn msg.payload.index;","outputs":1,"noerr":0,"x":732.380744934082,"y":1214.1098346710205,"wires":[["de094e35.0f52d"]]},{"id":"a623b99d.d9a5d8","type":"function","z":"2af67d85.263f62","name":"Value","func":"\nreturn msg.payload.value;","outputs":1,"noerr":0,"x":725.474494934082,"y":1312.8826694488525,"wires":[["4b594b00.958e64"]]},{"id":"4b594b00.958e64","type":"ui_gauge","z":"2af67d85.263f62","name":"","group":"b9a6b94b.ee6518","order":2,"width":0,"height":0,"gtype":"gage","title":"Value","label":"U","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":901.5682525634766,"y":1278.0417957305908,"wires":[]},{"id":"8f26c8c5.297348","type":"debug","z":"2af67d85.263f62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870.3804740905762,"y":1121.4651699066162,"wires":[]},{"id":"de094e35.0f52d","type":"ui_text","z":"2af67d85.263f62","group":"b9a6b94b.ee6518","order":1,"width":0,"height":0,"name":"","label":"Index -> ","format":"{{msg.value}}","layout":"row-center","x":919.6590976715088,"y":1192.4137125015259,"wires":[]},{"id":"d9398948.a89268","type":"ui_group","z":"","name":"IEC61850","tab":"3749ddca.394972","order":3,"disp":true,"width":7,"collapse":false},{"id":"867e2c76.a5291","type":"ui_group","z":"","name":"IEC61850 Tempo-real","tab":"3749ddca.394972","order":1,"disp":true,"width":"7","collapse":false},{"id":"2df5aa6f.b7bf96","type":"ui_group","z":"","name":"DNP3","tab":"3749ddca.394972","order":4,"disp":true,"width":7,"collapse":false},{"id":"b9a6b94b.ee6518","type":"ui_group","z":"","name":"DNP3 Tempo-real","tab":"3749ddca.394972","order":2,"disp":true,"width":5,"collapse":false},{"id":"3749ddca.394972","type":"ui_tab","z":"","name":"IED Monitor","icon":"dashboard","disabled":false,"hidden":false}]