flow2.json
[{"id":"89adc3e1.5c7f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3f0c68ff.418468","type":"function","z":"89adc3e1.5c7f","name":"Filter IDs","func":"var ids = [];\nmsg.payload.forEach((elem, idx) => {\n    ids.push(elem.id);\n});\nreturn {options:ids};","outputs":1,"noerr":0,"x":840,"y":80,"wires":[["b2732c9a.05695"]]},{"id":"37f0b303.6a95cc","type":"http request","z":"89adc3e1.5c7f","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":588.1903190612793,"y":84.56819438934326,"wires":[["3f0c68ff.418468"]]},{"id":"9eb3212d.014a2","type":"function","z":"89adc3e1.5c7f","name":"Make request","func":"msg.method = \"GET\";\nmsg.url = \"http://143.107.145.33:1026/v2/entities?type=Sensor\"\nmsg.headers = {};\nmsg.headers['fiware-service'] = 'helixiot';\nmsg.headers['fiware-servicepath'] = '/';\nreturn msg;","outputs":1,"noerr":0,"x":361.6420364379883,"y":88.00284767150879,"wires":[["37f0b303.6a95cc"]]},{"id":"11873572.78607b","type":"inject","z":"89adc3e1.5c7f","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":112.18750762939453,"y":80.92898559570312,"wires":[["9eb3212d.014a2"]]},{"id":"ef2f88c0.488678","type":"change","z":"89adc3e1.5c7f","name":"","rules":[{"t":"set","p":"select","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":319.1932067871094,"y":198.98578071594238,"wires":[[]]},{"id":"b2732c9a.05695","type":"ui_dropdown","z":"89adc3e1.5c7f","name":"","label":"","tooltip":"","place":"Selecione um sensor","group":"af6bef9a.1e727","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":115.99149322509766,"y":207.48283767700195,"wires":[["ef2f88c0.488678"]]},{"id":"926ca510.727ef8","type":"debug","z":"89adc3e1.5c7f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":580,"wires":[]},{"id":"cb93f239.9c61e","type":"inject","z":"89adc3e1.5c7f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"datePicked","payloadType":"flow","x":170,"y":540,"wires":[["926ca510.727ef8"]]},{"id":"93863395.5f0ab","type":"ui_template","z":"89adc3e1.5c7f","group":"af6bef9a.1e727","name":"","order":2,"width":6,"height":8,"format":"<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Calendar</title>\n\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <!-- Bootstrap CSS -->\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css\"\n          integrity=\"sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4\" crossorigin=\"anonymous\">\n\t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js\" type=\"text/javascript\"></script>\n\t<style>\n\t\t\n\t\t.date-pick:hover {\n\t\t\tbackground-color: yellow;\n\t\t}\n\n\t</style>\n</head>\n<body>\n<div id=\"dataSel\"><h5>Data Selecionada: Nenhuma</h5></div>\n<div class=\"container-fluid\">\n    <div class=\"card\">\n        <h3 class=\"card-header\" id=\"monthAndYear\"></h3>\n        <table class=\"table-bordered table-responsive-sm\" id=\"calendar\">\n            <thead>\n            <tr>\n                <th>Sun</th>\n                <th>Mon</th>\n                <th>Tue</th>\n                <th>Wed</th>\n                <th>Thu</th>\n                <th>Fri</th>\n                <th>Sat</th>\n            </tr>\n            </thead>\n\n            <tbody id=\"calendar-body\">\n\n            </tbody>\n        </table>\n\n        <div class=\"form-inline\">\n\n            <button class=\"btn btn-outline-primary col-sm\" id=\"previous\" onclick=\"previous()\">Previous</button>\n\n            <button class=\"btn btn-outline-primary col-sm\" id=\"next\" onclick=\"next()\">Next</button>\n        </div>\n        <br/>\n        <form class=\"form-inline\">\n            <label class=\"lead\" for=\"month\">Jump To: </label>\n            <select class=\"form-control\" name=\"month\" id=\"month\" onchange=\"jump()\">\n                <option value=0>Jan</option>\n                <option value=1>Feb</option>\n                <option value=2>Mar</option>\n                <option value=3>Apr</option>\n                <option value=4>May</option>\n                <option value=5>Jun</option>\n                <option value=6>Jul</option>\n                <option value=7>Aug</option>\n                <option value=8>Sep</option>\n                <option value=9>Oct</option>\n                <option value=10>Nov</option>\n                <option value=11>Dec</option>\n            </select>\n\n\n            <label for=\"year\"></label><select class=\"form-control col-sm\" name=\"year\" id=\"year\" onchange=\"jump()\">\n            <option value=1990>1990</option>\n            <option value=1991>1991</option>\n            <option value=1992>1992</option>\n            <option value=1993>1993</option>\n            <option value=1994>1994</option>\n            <option value=1995>1995</option>\n            <option value=1996>1996</option>\n            <option value=1997>1997</option>\n            <option value=1998>1998</option>\n            <option value=1999>1999</option>\n            <option value=2000>2000</option>\n            <option value=2001>2001</option>\n            <option value=2002>2002</option>\n            <option value=2003>2003</option>\n            <option value=2004>2004</option>\n            <option value=2005>2005</option>\n            <option value=2006>2006</option>\n            <option value=2007>2007</option>\n            <option value=2008>2008</option>\n            <option value=2009>2009</option>\n            <option value=2010>2010</option>\n            <option value=2011>2011</option>\n            <option value=2012>2012</option>\n            <option value=2013>2013</option>\n            <option value=2014>2014</option>\n            <option value=2015>2015</option>\n            <option value=2016>2016</option>\n            <option value=2017>2017</option>\n            <option value=2018>2018</option>\n            <option value=2019>2019</option>\n            <option value=2020>2020</option>\n            <option value=2021>2021</option>\n            <option value=2022>2022</option>\n            <option value=2023>2023</option>\n            <option value=2024>2024</option>\n            <option value=2025>2025</option>\n            <option value=2026>2026</option>\n            <option value=2027>2027</option>\n            <option value=2028>2028</option>\n            <option value=2029>2029</option>\n            <option value=2030>2030</option>\n        </select></form>\n    </div>\n</div>\n<!--<button name=\"jump\" onclick=\"jump()\">Go</button>-->\n<script>\n\nlet today = new Date();\nlet currentMonth = today.getMonth();\nlet currentYear = today.getFullYear();\nlet selectYear = document.getElementById(\"year\");\nlet selectMonth = document.getElementById(\"month\");\n\nlet months = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\", \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\n\nlet monthAndYear = document.getElementById(\"monthAndYear\");\nshowCalendar(currentMonth, currentYear);\n\nlet datePicked;\nvar dataSel = document.getElementById(\"dataSel\");\n\nfunction next() {\n    currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;\n    currentMonth = (currentMonth + 1) % 12;\n    showCalendar(currentMonth, currentYear);\n}\n\nfunction previous() {\n    currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;\n    currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;\n    showCalendar(currentMonth, currentYear);\n}\n\nfunction jump() {\n    currentYear = parseInt(selectYear.value);\n    currentMonth = parseInt(selectMonth.value);\n    showCalendar(currentMonth, currentYear);\n}\n\nfunction showCalendar(month, year) {    \n    let firstDay = (new Date(year, month)).getDay();\n    let daysInMonth = 32 - new Date(year, month, 32).getDate();\n\n    let tbl = document.getElementById(\"calendar-body\"); // body of the calendar\n\n    // clearing all previous cells\n    tbl.innerHTML = \"\";\n\n    // filing data about month and in the page via DOM.\n    monthAndYear.innerHTML = months[month] + \" \" + year;\n    selectYear.value = year;\n    selectMonth.value = month;\n\n    // creating all cells\n    let date = 1;\n    for (let i = 0; i < 6; i++) {\n        // creates a table row\n        let row = document.createElement(\"tr\");\n\n        //creating individual cells, filing them up with data.\n        for (let j = 0; j < 7; j++) {\n            if (i === 0 && j < firstDay) {\n            \tlet cell = document.createElement(\"td\");\n                let cellText = document.createTextNode(\"\");\n                cell.appendChild(cellText);\n                row.appendChild(cell);\n            }\n            else if (date > daysInMonth) {\n                break;\n            }\n\n            else {\n                let cell = document.createElement(\"td\");\n                let cellText = document.createTextNode(date);\n                if (date === today.getDate() && year === today.getFullYear() && month === today.getMonth()) {\n                \tcell.classList.add(\"bg-info\");\n\t\t\t\t\t\n                } // color today's\n\t\t\t\tcell.classList.add(\"btn-light\");\n\t\t\t\tcell.classList.add(\"date-pick\");\n                cell.appendChild(cellText);\n                row.appendChild(cell);\n                date++;\n            }\n        }\n\n        tbl.appendChild(row); // appending each row into calendar body.\n    }\n    \n    $('.date-pick').on('click', function(event) {\n\t\tevent.preventDefault();\n\t\tdatePicked = (parseInt(selectMonth.value)+1)+\"/\"+event.target.innerHTML+\"/\"+selectYear.value;\n\t});\n}\n\nfunction submitDate(msg, scope) {\n    console.log(\"Date picked -> \"+datePicked);\n    if(typeof datePicked !== \"undefined\")\n        dataSel.children[0].innerHTML = \"Data Selecionada: \"+datePicked;\n    scope.send({payload: datePicked});\n}\n\n(function(scope) {\n    scope.send({payload: \"preload\"});\n    scope.$watch('msg', function(msg) {\n        if(msg) {\n            submitDate(msg, scope);\n        }\n    });\n})(scope);\n</script>\n\n<!-- Optional JavaScript for bootstrap -->\n<!-- jQuery first, then Popper.js, then Bootstrap JS -->\n<script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\"\n        integrity=\"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo\"\n        crossorigin=\"anonymous\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js\"\n        integrity=\"sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ\"\n        crossorigin=\"anonymous\"></script>\n<script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js\"\n        integrity=\"sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm\"\n        crossorigin=\"anonymous\"></script>\n</body>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":240,"y":420,"wires":[["9e76f98d.27b118"]]},{"id":"9e76f98d.27b118","type":"function","z":"89adc3e1.5c7f","name":"","func":"if(msg.payload && msg.payload != \"preload\") {\n    flow.set(\"datePicked\", msg.payload);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":380,"wires":[[]]},{"id":"30f1fe7a.d17372","type":"inject","z":"89adc3e1.5c7f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":340,"wires":[["93863395.5f0ab"]]},{"id":"c2d728e3.2e3458","type":"function","z":"89adc3e1.5c7f","name":"Filter data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=0; i < 24; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar ontem = new Date(msg.data[0]);\n\n//m.series.push(hj.toString());\nvar ano = ontem.getFullYear(), mes = ontem.getMonth()+1, dia = ontem.getDate();\nvar hour = '';\n\n//var msg = {};\nlet data;\nlet d;\nmsg.payload.forEach((elem, idx) => {\n    // Deve-se fazer a conversao para GMT-3 aqui?\n    // Com a conversao os valores so sao guardados ate as 20h\n    data = new Date(elem.recvTime);\n    \n    if(ano == data.getFullYear() && mes == data.getMonth()+1 && dia == data.getDate()) {\n        //console.log(ano);\n        var hour = data.getHours();\n        //m.series.push(hour);\n        if(hour === 0) {\n            m.labelsCount[0] += 1;\n            m.labelsSum[0] += parseFloat(elem.attrValue);\n        }else if(hour === 1) {\n            m.labelsCount[1] += 1;\n            m.labelsSum[1] += parseFloat(elem.attrValue);\n        }else if(hour === 2) {\n            m.labelsCount[2] += 1;\n            m.labelsSum[2] += parseFloat(elem.attrValue);\n        }else if(hour === 3) {\n            m.labelsCount[3] += 1;\n            m.labelsSum[3] += parseFloat(elem.attrValue);\n        }else if(hour === 4) {\n            m.labelsCount[4] += 1;\n            m.labelsSum[4] += parseFloat(elem.attrValue);\n        }else if(hour === 5) {\n            m.labelsCount[5] += 1;\n            m.labelsSum[5] += parseFloat(elem.attrValue);\n        }else if(hour === 6) {\n            m.labelsCount[6] += 1;\n            m.labelsSum[6] += parseFloat(elem.attrValue);\n        }else if(hour === 7) {\n            m.labelsCount[7] += 1;\n            m.labelsSum[7] += parseFloat(elem.attrValue);\n        }else if(hour === 8) {\n            m.labelsCount[8] += 1;\n            m.labelsSum[8] += parseFloat(elem.attrValue);\n        }else if(hour === 9) {\n            m.labelsCount[9] += 1;\n            m.labelsSum[9] += parseFloat(elem.attrValue);\n        }else if(hour === 10) {\n            m.labelsCount[10] += 1;\n            m.labelsSum[10] += parseFloat(elem.attrValue);\n        }else if(hour === 11) {\n            m.labelsCount[11] += 1;\n            m.labelsSum[11] += parseFloat(elem.attrValue);\n        }else if(hour === 12) {\n            m.labelsCount[12] += 1;\n            m.labelsSum[12] += parseFloat(elem.attrValue);\n        }else if(hour === 13) {\n            m.labelsCount[13] += 1;\n            m.labelsSum[13] += parseFloat(elem.attrValue);\n        }else if(hour === 14) {\n            m.labelsCount[14] += 1;\n            m.labelsSum[14] += parseFloat(elem.attrValue);\n        }else if(hour === 15) {\n            m.labelsCount[15] += 1;\n            m.labelsSum[15] += parseFloat(elem.attrValue);\n        }else if(hour === 16) {\n            m.labelsCount[16] += 1;\n            m.labelsSum[16] += parseFloat(elem.attrValue);\n        }else if(hour === 17) {\n            m.labelsCount[17] += 1;\n            m.labelsSum[17] += parseFloat(elem.attrValue);\n        }else if(hour === 18) {\n            m.labelsCount[18] += 1;\n            m.labelsSum[18] += parseFloat(elem.attrValue);\n        }else if(hour === 19) {\n            m.labelsCount[19] += 1;\n            m.labelsSum[19] += parseFloat(elem.attrValue);\n        }else if(hour === 20) {\n            m.labelsCount[20] += 1;\n            m.labelsSum[20] += parseFloat(elem.attrValue);\n        }else if(hour === 21) {\n            m.labelsCount[21] += 1;\n            m.labelsSum[21] += parseFloat(elem.attrValue);\n        }else if(hour === 22) {\n            m.labelsCount[22] += 1;\n            m.labelsSum[22] += parseFloat(elem.attrValue);\n        }else if(hour === 23) {\n            m.labelsCount[23] += 1;\n            m.labelsSum[23] += parseFloat(elem.attrValue);\n        }\n    }\n    else {\n        //m.series.push(ano+'-'+mes+'-'+dia);\n    }\n    //m.data[0].push(parseFloat(elem.attrValue));\n})\n\nfor(i=0; i<24;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"x":560,"y":740,"wires":[["5e98a025.926b1"]]},{"id":"d3cb3ab5.4bb108","type":"inject","z":"89adc3e1.5c7f","name":"","props":[{"p":"payload","v":"select","vt":"flow"},{"p":"topic","v":"","vt":"string"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":107.60513305664062,"y":868.0965299606323,"wires":[["9f2b3d1c.cf24a"]]},{"id":"9f2b3d1c.cf24a","type":"function","z":"89adc3e1.5c7f","name":"query","func":"msg.collection = \"sth_/_\"+msg.payload+\"_Sensor\";\nlet attrName;\nif(msg.payload == \"IoTSmartReginaLabDC_temp\")\n    attrName = \"v_l1n\";\nelse if(msg.payload = \"Sensor:001\")\n    attrName = \"voltA\";\nelse if(msg.payload = \"SensorESP_SmartHouse\")\n    attrName = \"voltagem_a\";\nvar datePicked = flow.get(\"datePicked\");\nlet aux;\nif(datePicked) {\n    aux = new Date(datePicked);\n}else {\n    aux = new Date();\n}\n\n/*var data = aux.getTime() - (aux.getTimezoneOffset() * 60000)\nvar dataInicio = new Date(data - (3600000*3));\ndataInicio.setHours(0, 0, 0, 0);\nvar dataFim = new Date(dataInicio);*/\n//flow.set(\"datePicked\", hjInicio.toLocaleDateString(\"en-US\"));\ndataInicio = new Date(aux);\ndataInicio.setHours(0, 0, 0, 0);\ndataFim = new Date(aux);\ndataFim.setHours(23, 59, 59, 999);\n/*dataFim.setDate(aux.getDate() + 1);\ndataFim.setHours(0,0,0,0);*/\n//var aux1 = new Date(dataInicio), aux2 = new Date(dataFim);\n\nmsg.data = [dataInicio, dataFim];\nmsg.payload = {\"recvTime\": {\"$gte\": dataInicio,\"$lte\": dataFim}, \"attrName\": attrName};\nmsg.limit = 150000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":261.79261779785156,"y":833.9657144546509,"wires":[["f5fe3268.a5a1"]]},{"id":"5e98a025.926b1","type":"ui_chart","z":"89adc3e1.5c7f","name":"","group":"727ea626.8fc638","order":1,"width":5,"height":4,"label":"Média Diária","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"24","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":780,"wires":[[]]},{"id":"f5fe3268.a5a1","type":"mongodb in","z":"89adc3e1.5c7f","mongodb":"416560f7.d7489","name":"MongoDB Sensor","collection":"","operation":"find","x":317.50008392333984,"y":689.0000667572021,"wires":[["c2d728e3.2e3458","93f57.dfe7e0a9"]]},{"id":"93f57.dfe7e0a9","type":"debug","z":"89adc3e1.5c7f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":461.50003814697266,"y":798.9999828338623,"wires":[]},{"id":"c6ce25c9.2b7b08","type":"ui_chart","z":"89adc3e1.5c7f","name":"","group":"b83aab1c.b0fde8","order":1,"width":5,"height":4,"label":"Média Diária","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":960,"wires":[[]]},{"id":"35b82d5f.08a9a2","type":"ui_chart","z":"89adc3e1.5c7f","name":"","group":"ae2737e1.3e0878","order":1,"width":5,"height":4,"label":"Média Diária","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":1240,"wires":[[]]},{"id":"4f019ad2.fc9474","type":"function","z":"89adc3e1.5c7f","name":"Filter data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=0; i < 24; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar ontem = new Date(msg.data[0]);\n\n//m.series.push(hj.toString());\nvar ano = ontem.getFullYear(), mes = ontem.getMonth()+1, dia = ontem.getDate();\nvar hour = '';\n\n//var msg = {};\nlet data;\nlet d;\nmsg.payload.forEach((elem, idx) => {\n    // Deve-se fazer a conversao para GMT-3 aqui?\n    // Com a conversao os valores so sao guardados ate as 20h\n    data = new Date(elem.recvTime);\n    \n    if(ano == data.getFullYear() && mes == data.getMonth()+1 && dia == data.getDate()) {\n        //console.log(ano);\n        var hour = data.getHours();\n        //m.series.push(hour);\n        if(hour === 0) {\n            m.labelsCount[0] += 1;\n            m.labelsSum[0] += parseFloat(elem.attrValue);\n        }else if(hour === 1) {\n            m.labelsCount[1] += 1;\n            m.labelsSum[1] += parseFloat(elem.attrValue);\n        }else if(hour === 2) {\n            m.labelsCount[2] += 1;\n            m.labelsSum[2] += parseFloat(elem.attrValue);\n        }else if(hour === 3) {\n            m.labelsCount[3] += 1;\n            m.labelsSum[3] += parseFloat(elem.attrValue);\n        }else if(hour === 4) {\n            m.labelsCount[4] += 1;\n            m.labelsSum[4] += parseFloat(elem.attrValue);\n        }else if(hour === 5) {\n            m.labelsCount[5] += 1;\n            m.labelsSum[5] += parseFloat(elem.attrValue);\n        }else if(hour === 6) {\n            m.labelsCount[6] += 1;\n            m.labelsSum[6] += parseFloat(elem.attrValue);\n        }else if(hour === 7) {\n            m.labelsCount[7] += 1;\n            m.labelsSum[7] += parseFloat(elem.attrValue);\n        }else if(hour === 8) {\n            m.labelsCount[8] += 1;\n            m.labelsSum[8] += parseFloat(elem.attrValue);\n        }else if(hour === 9) {\n            m.labelsCount[9] += 1;\n            m.labelsSum[9] += parseFloat(elem.attrValue);\n        }else if(hour === 10) {\n            m.labelsCount[10] += 1;\n            m.labelsSum[10] += parseFloat(elem.attrValue);\n        }else if(hour === 11) {\n            m.labelsCount[11] += 1;\n            m.labelsSum[11] += parseFloat(elem.attrValue);\n        }else if(hour === 12) {\n            m.labelsCount[12] += 1;\n            m.labelsSum[12] += parseFloat(elem.attrValue);\n        }else if(hour === 13) {\n            m.labelsCount[13] += 1;\n            m.labelsSum[13] += parseFloat(elem.attrValue);\n        }else if(hour === 14) {\n            m.labelsCount[14] += 1;\n            m.labelsSum[14] += parseFloat(elem.attrValue);\n        }else if(hour === 15) {\n            m.labelsCount[15] += 1;\n            m.labelsSum[15] += parseFloat(elem.attrValue);\n        }else if(hour === 16) {\n            m.labelsCount[16] += 1;\n            m.labelsSum[16] += parseFloat(elem.attrValue);\n        }else if(hour === 17) {\n            m.labelsCount[17] += 1;\n            m.labelsSum[17] += parseFloat(elem.attrValue);\n        }else if(hour === 18) {\n            m.labelsCount[18] += 1;\n            m.labelsSum[18] += parseFloat(elem.attrValue);\n        }else if(hour === 19) {\n            m.labelsCount[19] += 1;\n            m.labelsSum[19] += parseFloat(elem.attrValue);\n        }else if(hour === 20) {\n            m.labelsCount[20] += 1;\n            m.labelsSum[20] += parseFloat(elem.attrValue);\n        }else if(hour === 21) {\n            m.labelsCount[21] += 1;\n            m.labelsSum[21] += parseFloat(elem.attrValue);\n        }else if(hour === 22) {\n            m.labelsCount[22] += 1;\n            m.labelsSum[22] += parseFloat(elem.attrValue);\n        }else if(hour === 23) {\n            m.labelsCount[23] += 1;\n            m.labelsSum[23] += parseFloat(elem.attrValue);\n        }\n    }\n    else {\n        //m.series.push(ano+'-'+mes+'-'+dia);\n    }\n    //m.data[0].push(parseFloat(elem.attrValue));\n})\n\nfor(i=0; i<24;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":980,"wires":[["c6ce25c9.2b7b08"]]},{"id":"3dbb4564.9b345a","type":"inject","z":"89adc3e1.5c7f","name":"","props":[{"p":"payload","v":"select","vt":"flow"},{"p":"topic","v":"","vt":"string"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":107.60513305664062,"y":1108.0965299606323,"wires":[["4bf30a73.47e614"]]},{"id":"4bf30a73.47e614","type":"function","z":"89adc3e1.5c7f","name":"query","func":"msg.collection = \"sth_/_\"+msg.payload+\"_Sensor\";\nlet attrName;\nif(msg.payload == \"IoTSmartReginaLabDC_temp\")\n    attrName = \"w_l1\";\nelse if(msg.payload = \"Sensor:001\")\n    attrName = \"potenciaAtiva\";\nelse if(msg.payload = \"SensorESP_SmartHouse\")\n    attrName = \"power_active_a\";\nvar datePicked = flow.get(\"datePicked\");\nlet aux;\nif(datePicked) {\n    aux = new Date(datePicked);\n}else {\n    aux = new Date();\n}\n\n/*var data = aux.getTime() - (aux.getTimezoneOffset() * 60000)\nvar dataInicio = new Date(data - (3600000*3));\ndataInicio.setHours(0, 0, 0, 0);\nvar dataFim = new Date(dataInicio);*/\n//flow.set(\"datePicked\", hjInicio.toLocaleDateString(\"en-US\"));\ndataInicio = new Date(aux);\ndataInicio.setHours(0, 0, 0, 0);\ndataFim = new Date(aux);\ndataFim.setHours(23, 59, 59, 999);\n/*dataFim.setDate(aux.getDate() + 1);\ndataFim.setHours(0,0,0,0);*/\n//var aux1 = new Date(dataInicio), aux2 = new Date(dataFim);\n\nmsg.data = [dataInicio, dataFim];\nmsg.payload = {\"recvTime\": {\"$gte\": dataInicio,\"$lte\": dataFim}, \"attrName\": attrName};\nmsg.limit = 150000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":261.79261779785156,"y":1073.9657144546509,"wires":[["929387ca.255448"]]},{"id":"929387ca.255448","type":"mongodb in","z":"89adc3e1.5c7f","mongodb":"416560f7.d7489","name":"MongoDB Sensor","collection":"","operation":"find","x":317.50008392333984,"y":929.0000667572021,"wires":[["4f019ad2.fc9474","73990556.802fec"]]},{"id":"73990556.802fec","type":"debug","z":"89adc3e1.5c7f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":461.50003814697266,"y":1038.9999828338623,"wires":[]},{"id":"6e6bffed.eac94","type":"function","z":"89adc3e1.5c7f","name":"Filter data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=0; i < 24; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar ontem = new Date(msg.data[0]);\n\n//m.series.push(hj.toString());\nvar ano = ontem.getFullYear(), mes = ontem.getMonth()+1, dia = ontem.getDate();\nvar hour = '';\n\n//var msg = {};\nlet data;\nlet d;\nmsg.payload.forEach((elem, idx) => {\n    // Deve-se fazer a conversao para GMT-3 aqui?\n    // Com a conversao os valores so sao guardados ate as 20h\n    data = new Date(elem.recvTime);\n    \n    if(ano == data.getFullYear() && mes == data.getMonth()+1 && dia == data.getDate()) {\n        //console.log(ano);\n        var hour = data.getHours();\n        //m.series.push(hour);\n        if(hour === 0) {\n            m.labelsCount[0] += 1;\n            m.labelsSum[0] += parseFloat(elem.attrValue);\n        }else if(hour === 1) {\n            m.labelsCount[1] += 1;\n            m.labelsSum[1] += parseFloat(elem.attrValue);\n        }else if(hour === 2) {\n            m.labelsCount[2] += 1;\n            m.labelsSum[2] += parseFloat(elem.attrValue);\n        }else if(hour === 3) {\n            m.labelsCount[3] += 1;\n            m.labelsSum[3] += parseFloat(elem.attrValue);\n        }else if(hour === 4) {\n            m.labelsCount[4] += 1;\n            m.labelsSum[4] += parseFloat(elem.attrValue);\n        }else if(hour === 5) {\n            m.labelsCount[5] += 1;\n            m.labelsSum[5] += parseFloat(elem.attrValue);\n        }else if(hour === 6) {\n            m.labelsCount[6] += 1;\n            m.labelsSum[6] += parseFloat(elem.attrValue);\n        }else if(hour === 7) {\n            m.labelsCount[7] += 1;\n            m.labelsSum[7] += parseFloat(elem.attrValue);\n        }else if(hour === 8) {\n            m.labelsCount[8] += 1;\n            m.labelsSum[8] += parseFloat(elem.attrValue);\n        }else if(hour === 9) {\n            m.labelsCount[9] += 1;\n            m.labelsSum[9] += parseFloat(elem.attrValue);\n        }else if(hour === 10) {\n            m.labelsCount[10] += 1;\n            m.labelsSum[10] += parseFloat(elem.attrValue);\n        }else if(hour === 11) {\n            m.labelsCount[11] += 1;\n            m.labelsSum[11] += parseFloat(elem.attrValue);\n        }else if(hour === 12) {\n            m.labelsCount[12] += 1;\n            m.labelsSum[12] += parseFloat(elem.attrValue);\n        }else if(hour === 13) {\n            m.labelsCount[13] += 1;\n            m.labelsSum[13] += parseFloat(elem.attrValue);\n        }else if(hour === 14) {\n            m.labelsCount[14] += 1;\n            m.labelsSum[14] += parseFloat(elem.attrValue);\n        }else if(hour === 15) {\n            m.labelsCount[15] += 1;\n            m.labelsSum[15] += parseFloat(elem.attrValue);\n        }else if(hour === 16) {\n            m.labelsCount[16] += 1;\n            m.labelsSum[16] += parseFloat(elem.attrValue);\n        }else if(hour === 17) {\n            m.labelsCount[17] += 1;\n            m.labelsSum[17] += parseFloat(elem.attrValue);\n        }else if(hour === 18) {\n            m.labelsCount[18] += 1;\n            m.labelsSum[18] += parseFloat(elem.attrValue);\n        }else if(hour === 19) {\n            m.labelsCount[19] += 1;\n            m.labelsSum[19] += parseFloat(elem.attrValue);\n        }else if(hour === 20) {\n            m.labelsCount[20] += 1;\n            m.labelsSum[20] += parseFloat(elem.attrValue);\n        }else if(hour === 21) {\n            m.labelsCount[21] += 1;\n            m.labelsSum[21] += parseFloat(elem.attrValue);\n        }else if(hour === 22) {\n            m.labelsCount[22] += 1;\n            m.labelsSum[22] += parseFloat(elem.attrValue);\n        }else if(hour === 23) {\n            m.labelsCount[23] += 1;\n            m.labelsSum[23] += parseFloat(elem.attrValue);\n        }\n    }\n    else {\n        //m.series.push(ano+'-'+mes+'-'+dia);\n    }\n    //m.data[0].push(parseFloat(elem.attrValue));\n})\n\nfor(i=0; i<24;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"x":540,"y":1240,"wires":[["35b82d5f.08a9a2"]]},{"id":"d33294c4.e0d3b8","type":"inject","z":"89adc3e1.5c7f","name":"","props":[{"p":"payload","v":"select","vt":"flow"},{"p":"topic","v":"","vt":"string"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":87.60513305664062,"y":1368.0965299606323,"wires":[["d84d52ca.5081a"]]},{"id":"d84d52ca.5081a","type":"function","z":"89adc3e1.5c7f","name":"query","func":"msg.collection = \"sth_/_\"+msg.payload+\"_Sensor\";\nlet attrName;\nif(msg.payload == \"IoTSmartReginaLabDC_temp\")\n    attrName = \"a_l1\";\nelse if(msg.payload = \"Sensor:001\")\n    attrName = \"correnteA\";\nelse if(msg.payload = \"SensorESP_SmartHouse\")\n    attrName = \"corrente_a\";\nvar datePicked = flow.get(\"datePicked\");\nlet aux;\nif(datePicked) {\n    aux = new Date(datePicked);\n}else {\n    aux = new Date();\n}\n\n/*var data = aux.getTime() - (aux.getTimezoneOffset() * 60000)\nvar dataInicio = new Date(data - (3600000*3));\ndataInicio.setHours(0, 0, 0, 0);\nvar dataFim = new Date(dataInicio);*/\n//flow.set(\"datePicked\", hjInicio.toLocaleDateString(\"en-US\"));\ndataInicio = new Date(aux);\ndataInicio.setHours(0, 0, 0, 0);\ndataFim = new Date(aux);\ndataFim.setHours(23, 59, 59, 999);\n/*dataFim.setDate(aux.getDate() + 1);\ndataFim.setHours(0,0,0,0);*/\n//var aux1 = new Date(dataInicio), aux2 = new Date(dataFim);\n\nmsg.data = [dataInicio, dataFim];\nmsg.payload = {\"recvTime\": {\"$gte\": dataInicio,\"$lte\": dataFim}, \"attrName\": attrName};\nmsg.limit = 150000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":241.79261779785156,"y":1333.9657144546509,"wires":[["21b56c56.73aa34"]]},{"id":"21b56c56.73aa34","type":"mongodb in","z":"89adc3e1.5c7f","mongodb":"416560f7.d7489","name":"MongoDB Sensor","collection":"","operation":"find","x":297.50008392333984,"y":1189.0000667572021,"wires":[["6e6bffed.eac94","23d27db5.30ad32"]]},{"id":"23d27db5.30ad32","type":"debug","z":"89adc3e1.5c7f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":441.50003814697266,"y":1298.9999828338623,"wires":[]},{"id":"a8b5c77c.c5cdc8","type":"inject","z":"89adc3e1.5c7f","name":"","props":[{"p":"payload","v":"select","vt":"flow"},{"p":"topic","v":"","vt":"string"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":130,"y":1760,"wires":[["3905a742.2c7488"]]},{"id":"3905a742.2c7488","type":"function","z":"89adc3e1.5c7f","name":"query","func":"msg.collection = \"sth_/_\"+msg.payload+\"_Sensor\";\nlet attr_name;\nif(msg.payload == \"IoTSmartReginaLabDC_temp\")\n    attr_name = \"v_l1n\";\nelse if(msg.payload = \"Sensor:001\")\n    attr_name = \"voltA\";\nelse if(msg.payload = \"SensorESP_SmartHouse\")\n    attr_name = \"voltagem_a\";\nvar datePicked = flow.get(\"datePicked\");\nlet aux;\nif(datePicked) {\n    aux = new Date(datePicked);\n}else {\n    aux = new Date();\n}\n\nmsg.data = aux;\n\nmsg.payload = [\n    {$match: {\n        attrName: attr_name\n    }},\n    {$project: {\n        _id: {\n            attrValue: \"$attrValue\"\n        },\n        name: 1, month: {$month: \"$recvTime\"}, day: {$dayOfMonth: \"$recvTime\"}\n    }},\n    {$match: {\n        month: aux.getMonth()+1\n    }}]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":284.18748474121094,"y":1725.8691844940186,"wires":[["92cc1a07.6599b8"]]},{"id":"92cc1a07.6599b8","type":"mongodb in","z":"89adc3e1.5c7f","mongodb":"416560f7.d7489","name":"MongoDB Sensor","collection":"","operation":"aggregate","x":339.8949508666992,"y":1580.9035367965698,"wires":[["485e45c7.e6fc3c","f0ed2068.d7d5b"]]},{"id":"485e45c7.e6fc3c","type":"debug","z":"89adc3e1.5c7f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":483.89490509033203,"y":1690.90345287323,"wires":[]},{"id":"f0ed2068.d7d5b","type":"function","z":"89adc3e1.5c7f","name":"Filter data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=1; i <= 31; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nmsg.payload.forEach((elem, idx) => {\n    if(elem.day === 1) {\n        m.labelsCount[0] += 1;\n        m.labelsSum[0] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 2) {\n        m.labelsCount[1] += 1;\n        m.labelsSum[1] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 3) {\n        m.labelsCount[2] += 1;\n        m.labelsSum[2] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 4) {\n        m.labelsCount[3] += 1;\n        m.labelsSum[3] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 5) {\n        m.labelsCount[4] += 1;\n        m.labelsSum[4] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 6) {\n        m.labelsCount[5] += 1;\n        m.labelsSum[5] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 7) {\n        m.labelsCount[6] += 1;\n        m.labelsSum[6] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 8) {\n        m.labelsCount[7] += 1;\n        m.labelsSum[7] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 9) {\n        m.labelsCount[8] += 1;\n        m.labelsSum[8] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 10) {\n        m.labelsCount[9] += 1;\n        m.labelsSum[9] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 11) {\n        m.labelsCount[10] += 1;\n        m.labelsSum[10] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 12) {\n        m.labelsCount[11] += 1;\n        m.labelsSum[11] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 13) {\n        m.labelsCount[12] += 1;\n        m.labelsSum[12] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 14) {\n        m.labelsCount[13] += 1;\n        m.labelsSum[13] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 15) {\n        m.labelsCount[14] += 1;\n        m.labelsSum[14] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 16) {\n        m.labelsCount[15] += 1;\n        m.labelsSum[15] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 17) {\n        m.labelsCount[16] += 1;\n        m.labelsSum[16] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 18) {\n        m.labelsCount[17] += 1;\n        m.labelsSum[17] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 19) {\n        m.labelsCount[18] += 1;\n        m.labelsSum[18] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 20) {\n        m.labelsCount[19] += 1;\n        m.labelsSum[19] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 21) {\n        m.labelsCount[20] += 1;\n        m.labelsSum[20] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 22) {\n        m.labelsCount[21] += 1;\n        m.labelsSum[21] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 23) {\n        m.labelsCount[22] += 1;\n        m.labelsSum[22] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 24) {\n        m.labelsCount[23] += 1;\n        m.labelsSum[23] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 25) {\n        m.labelsCount[24] += 1;\n        m.labelsSum[24] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 26) {\n        m.labelsCount[25] += 1;\n        m.labelsSum[25] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 27) {\n        m.labelsCount[26] += 1;\n        m.labelsSum[26] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 28) {\n        m.labelsCount[27] += 1;\n        m.labelsSum[27] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 29) {\n        m.labelsCount[28] += 1;\n        m.labelsSum[28] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 30) {\n        m.labelsCount[29] += 1;\n        m.labelsSum[29] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 31) {\n        m.labelsCount[30] += 1;\n        m.labelsSum[30] += parseFloat(elem._id.attrValue);\n    }\n})\n\nfor(i=0; i<31;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1600,"wires":[["c07a95fe.4332e8"]]},{"id":"c07a95fe.4332e8","type":"ui_chart","z":"89adc3e1.5c7f","name":"","group":"727ea626.8fc638","order":1,"width":5,"height":4,"label":"Média Mensal","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":1600,"wires":[[]]},{"id":"81a7a03d.9f0d6","type":"comment","z":"89adc3e1.5c7f","name":"Gráficos Diários","info":"Gráficos com as médias diárias","x":80,"y":640,"wires":[]},{"id":"1204fcc5.a0da73","type":"comment","z":"89adc3e1.5c7f","name":"Gráficos Mensais","info":"Gráficos com as médias mensais","x":90,"y":1500,"wires":[]},{"id":"954a9309.d9d83","type":"inject","z":"89adc3e1.5c7f","name":"","props":[{"p":"payload","v":"select","vt":"flow"},{"p":"topic","v":"","vt":"string"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":110,"y":2060,"wires":[["36c5215b.130fbe"]]},{"id":"36c5215b.130fbe","type":"function","z":"89adc3e1.5c7f","name":"query","func":"msg.collection = \"sth_/_\"+msg.payload+\"_Sensor\";\nlet attr_name;\nif(msg.payload == \"IoTSmartReginaLabDC_temp\")\n    attr_name = \"w_l1\";\nelse if(msg.payload = \"Sensor:001\")\n    attr_name = \"potenciaAtiva\";\nelse if(msg.payload = \"SensorESP_SmartHouse\")\n    attr_name = \"power_active_a\";\nvar datePicked = flow.get(\"datePicked\");\nlet aux;\nif(datePicked) {\n    aux = new Date(datePicked);\n}else {\n    aux = new Date();\n}\n\nmsg.data = aux;\n\nmsg.payload = [\n    {$match: {\n        attrName: attr_name\n    }},\n    {$project: {\n        _id: {\n            attrValue: \"$attrValue\"\n        },\n        name: 1, month: {$month: \"$recvTime\"}, day: {$dayOfMonth: \"$recvTime\"}\n    }},\n    {$match: {\n        month: aux.getMonth()+1\n    }}]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":264.18748474121094,"y":2025.8691844940186,"wires":[["dfa9daf8.6cc8e8"]]},{"id":"dfa9daf8.6cc8e8","type":"mongodb in","z":"89adc3e1.5c7f","mongodb":"416560f7.d7489","name":"MongoDB Sensor","collection":"","operation":"aggregate","x":319.8949508666992,"y":1880.9035367965698,"wires":[["2a9b6f88.c525d","959840c1.bf861"]]},{"id":"2a9b6f88.c525d","type":"debug","z":"89adc3e1.5c7f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":463.89490509033203,"y":1990.90345287323,"wires":[]},{"id":"959840c1.bf861","type":"function","z":"89adc3e1.5c7f","name":"Filter data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=1; i <= 31; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nmsg.payload.forEach((elem, idx) => {\n    if(elem.day === 1) {\n        m.labelsCount[0] += 1;\n        m.labelsSum[0] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 2) {\n        m.labelsCount[1] += 1;\n        m.labelsSum[1] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 3) {\n        m.labelsCount[2] += 1;\n        m.labelsSum[2] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 4) {\n        m.labelsCount[3] += 1;\n        m.labelsSum[3] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 5) {\n        m.labelsCount[4] += 1;\n        m.labelsSum[4] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 6) {\n        m.labelsCount[5] += 1;\n        m.labelsSum[5] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 7) {\n        m.labelsCount[6] += 1;\n        m.labelsSum[6] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 8) {\n        m.labelsCount[7] += 1;\n        m.labelsSum[7] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 9) {\n        m.labelsCount[8] += 1;\n        m.labelsSum[8] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 10) {\n        m.labelsCount[9] += 1;\n        m.labelsSum[9] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 11) {\n        m.labelsCount[10] += 1;\n        m.labelsSum[10] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 12) {\n        m.labelsCount[11] += 1;\n        m.labelsSum[11] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 13) {\n        m.labelsCount[12] += 1;\n        m.labelsSum[12] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 14) {\n        m.labelsCount[13] += 1;\n        m.labelsSum[13] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 15) {\n        m.labelsCount[14] += 1;\n        m.labelsSum[14] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 16) {\n        m.labelsCount[15] += 1;\n        m.labelsSum[15] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 17) {\n        m.labelsCount[16] += 1;\n        m.labelsSum[16] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 18) {\n        m.labelsCount[17] += 1;\n        m.labelsSum[17] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 19) {\n        m.labelsCount[18] += 1;\n        m.labelsSum[18] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 20) {\n        m.labelsCount[19] += 1;\n        m.labelsSum[19] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 21) {\n        m.labelsCount[20] += 1;\n        m.labelsSum[20] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 22) {\n        m.labelsCount[21] += 1;\n        m.labelsSum[21] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 23) {\n        m.labelsCount[22] += 1;\n        m.labelsSum[22] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 24) {\n        m.labelsCount[23] += 1;\n        m.labelsSum[23] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 25) {\n        m.labelsCount[24] += 1;\n        m.labelsSum[24] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 26) {\n        m.labelsCount[25] += 1;\n        m.labelsSum[25] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 27) {\n        m.labelsCount[26] += 1;\n        m.labelsSum[26] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 28) {\n        m.labelsCount[27] += 1;\n        m.labelsSum[27] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 29) {\n        m.labelsCount[28] += 1;\n        m.labelsSum[28] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 30) {\n        m.labelsCount[29] += 1;\n        m.labelsSum[29] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 31) {\n        m.labelsCount[30] += 1;\n        m.labelsSum[30] += parseFloat(elem._id.attrValue);\n    }\n})\n\nfor(i=0; i<31;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1900,"wires":[["4a0bafea.c7b26"]]},{"id":"4a0bafea.c7b26","type":"ui_chart","z":"89adc3e1.5c7f","name":"","group":"b83aab1c.b0fde8","order":1,"width":5,"height":4,"label":"Média Mensal","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":1900,"wires":[[]]},{"id":"2fc6082b.559428","type":"inject","z":"89adc3e1.5c7f","name":"","props":[{"p":"payload","v":"select","vt":"flow"},{"p":"topic","v":"","vt":"string"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":110,"y":2320,"wires":[["f1d54be1.6ef668"]]},{"id":"f1d54be1.6ef668","type":"function","z":"89adc3e1.5c7f","name":"query","func":"msg.collection = \"sth_/_\"+msg.payload+\"_Sensor\";\nlet attr_name;\nif(msg.payload == \"IoTSmartReginaLabDC_temp\")\n    attr_name = \"a_l1\";\nelse if(msg.payload = \"Sensor:001\")\n    attr_name = \"correnteA\";\nelse if(msg.payload = \"SensorESP_SmartHouse\")\n    attr_name = \"corrente_a\";\nvar datePicked = flow.get(\"datePicked\");\nlet aux;\nif(datePicked) {\n    aux = new Date(datePicked);\n}else {\n    aux = new Date();\n}\n\nmsg.data = aux;\n\nmsg.payload = [\n    {$match: {\n        attrName: attr_name\n    }},\n    {$project: {\n        _id: {\n            attrValue: \"$attrValue\"\n        },\n        name: 1, month: {$month: \"$recvTime\"}, day: {$dayOfMonth: \"$recvTime\"}\n    }},\n    {$match: {\n        month: aux.getMonth()+1\n    }}]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":264.18748474121094,"y":2285.8691844940186,"wires":[["beedf2c2.3ece8"]]},{"id":"beedf2c2.3ece8","type":"mongodb in","z":"89adc3e1.5c7f","mongodb":"416560f7.d7489","name":"MongoDB Sensor","collection":"","operation":"aggregate","x":319.8949508666992,"y":2140.90353679657,"wires":[["b7c13ff2.3b818","ee00f3ce.6a739"]]},{"id":"b7c13ff2.3b818","type":"debug","z":"89adc3e1.5c7f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":463.89490509033203,"y":2250.90345287323,"wires":[]},{"id":"ee00f3ce.6a739","type":"function","z":"89adc3e1.5c7f","name":"Filter data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=1; i <= 31; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nmsg.payload.forEach((elem, idx) => {\n    if(elem.day === 1) {\n        m.labelsCount[0] += 1;\n        m.labelsSum[0] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 2) {\n        m.labelsCount[1] += 1;\n        m.labelsSum[1] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 3) {\n        m.labelsCount[2] += 1;\n        m.labelsSum[2] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 4) {\n        m.labelsCount[3] += 1;\n        m.labelsSum[3] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 5) {\n        m.labelsCount[4] += 1;\n        m.labelsSum[4] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 6) {\n        m.labelsCount[5] += 1;\n        m.labelsSum[5] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 7) {\n        m.labelsCount[6] += 1;\n        m.labelsSum[6] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 8) {\n        m.labelsCount[7] += 1;\n        m.labelsSum[7] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 9) {\n        m.labelsCount[8] += 1;\n        m.labelsSum[8] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 10) {\n        m.labelsCount[9] += 1;\n        m.labelsSum[9] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 11) {\n        m.labelsCount[10] += 1;\n        m.labelsSum[10] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 12) {\n        m.labelsCount[11] += 1;\n        m.labelsSum[11] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 13) {\n        m.labelsCount[12] += 1;\n        m.labelsSum[12] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 14) {\n        m.labelsCount[13] += 1;\n        m.labelsSum[13] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 15) {\n        m.labelsCount[14] += 1;\n        m.labelsSum[14] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 16) {\n        m.labelsCount[15] += 1;\n        m.labelsSum[15] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 17) {\n        m.labelsCount[16] += 1;\n        m.labelsSum[16] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 18) {\n        m.labelsCount[17] += 1;\n        m.labelsSum[17] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 19) {\n        m.labelsCount[18] += 1;\n        m.labelsSum[18] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 20) {\n        m.labelsCount[19] += 1;\n        m.labelsSum[19] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 21) {\n        m.labelsCount[20] += 1;\n        m.labelsSum[20] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 22) {\n        m.labelsCount[21] += 1;\n        m.labelsSum[21] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 23) {\n        m.labelsCount[22] += 1;\n        m.labelsSum[22] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 24) {\n        m.labelsCount[23] += 1;\n        m.labelsSum[23] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 25) {\n        m.labelsCount[24] += 1;\n        m.labelsSum[24] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 26) {\n        m.labelsCount[25] += 1;\n        m.labelsSum[25] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 27) {\n        m.labelsCount[26] += 1;\n        m.labelsSum[26] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 28) {\n        m.labelsCount[27] += 1;\n        m.labelsSum[27] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 29) {\n        m.labelsCount[28] += 1;\n        m.labelsSum[28] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 30) {\n        m.labelsCount[29] += 1;\n        m.labelsSum[29] += parseFloat(elem._id.attrValue);\n    }else if(elem.day === 31) {\n        m.labelsCount[30] += 1;\n        m.labelsSum[30] += parseFloat(elem._id.attrValue);\n    }\n})\n\nfor(i=0; i<31;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":2160,"wires":[["baeda19f.a8b1"]]},{"id":"baeda19f.a8b1","type":"ui_chart","z":"89adc3e1.5c7f","name":"","group":"ae2737e1.3e0878","order":1,"width":5,"height":4,"label":"Média Mensal","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":2160,"wires":[[]]},{"id":"60108886.e45c88","type":"comment","z":"89adc3e1.5c7f","name":"Gráficos Anuais","info":"Gráficos com médias anuais","x":80,"y":2420,"wires":[]},{"id":"ed0e34d3.ff4a08","type":"inject","z":"89adc3e1.5c7f","name":"","props":[{"p":"payload","v":"select","vt":"flow"},{"p":"topic","v":"","vt":"string"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":110,"y":2680,"wires":[["db43c8a0.1c81a8"]]},{"id":"db43c8a0.1c81a8","type":"function","z":"89adc3e1.5c7f","name":"query","func":"msg.collection = \"sth_/_\"+msg.payload+\"_Sensor\";\nlet attr_name;\nif(msg.payload == \"IoTSmartReginaLabDC_temp\")\n    attr_name = \"v_l1n\";\nelse if(msg.payload = \"Sensor:001\")\n    attr_name = \"voltA\";\nelse if(msg.payload = \"SensorESP_SmartHouse\")\n    attr_name = \"voltagem_a\";\nvar datePicked = flow.get(\"datePicked\");\nlet aux;\nif(datePicked) {\n    aux = new Date(datePicked);\n}else {\n    aux = new Date();\n}\n\nmsg.data = aux;\n\nmsg.payload = [\n    {$match: {\n        attrName: attr_name\n    }},\n    {$project: {\n        _id: {\n            attrValue: \"$attrValue\"\n        },\n        name: 1, month: {$month: \"$recvTime\"}, year: {$year: \"$recvTime\"}\n    }},\n    {$match: {\n        year: aux.getFullYear()\n    }}]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":264.18748474121094,"y":2645.8691844940186,"wires":[["d99d07df.c823f8"]]},{"id":"d99d07df.c823f8","type":"mongodb in","z":"89adc3e1.5c7f","mongodb":"416560f7.d7489","name":"MongoDB Sensor","collection":"","operation":"aggregate","x":319.8949508666992,"y":2500.90353679657,"wires":[["4535aa90.919374","1d019704.35e689"]]},{"id":"4535aa90.919374","type":"debug","z":"89adc3e1.5c7f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":463.89490509033203,"y":2610.90345287323,"wires":[]},{"id":"1d019704.35e689","type":"function","z":"89adc3e1.5c7f","name":"Filter data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=1; i <= 12; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nmsg.payload.forEach((elem, idx) => {\n    if(elem.month === 1) {\n        m.labelsCount[0] += 1;\n        m.labelsSum[0] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 2) {\n        m.labelsCount[1] += 1;\n        m.labelsSum[1] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 3) {\n        m.labelsCount[2] += 1;\n        m.labelsSum[2] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 4) {\n        m.labelsCount[3] += 1;\n        m.labelsSum[3] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 5) {\n        m.labelsCount[4] += 1;\n        m.labelsSum[4] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 6) {\n        m.labelsCount[5] += 1;\n        m.labelsSum[5] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 7) {\n        m.labelsCount[6] += 1;\n        m.labelsSum[6] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 8) {\n        m.labelsCount[7] += 1;\n        m.labelsSum[7] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 9) {\n        m.labelsCount[8] += 1;\n        m.labelsSum[8] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 10) {\n        m.labelsCount[9] += 1;\n        m.labelsSum[9] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 11) {\n        m.labelsCount[10] += 1;\n        m.labelsSum[10] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 12) {\n        m.labelsCount[11] += 1;\n        m.labelsSum[11] += parseFloat(elem._id.attrValue);\n    }\n})\n\nfor(i=0; i<12;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":2520,"wires":[["993a1782.82d208"]]},{"id":"993a1782.82d208","type":"ui_chart","z":"89adc3e1.5c7f","name":"","group":"727ea626.8fc638","order":1,"width":5,"height":4,"label":"Média Anual","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":2520,"wires":[[]]},{"id":"7e78f8c4.06aea8","type":"inject","z":"89adc3e1.5c7f","name":"","props":[{"p":"payload","v":"select","vt":"flow"},{"p":"topic","v":"","vt":"string"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":110,"y":2940,"wires":[["b0263bf2.a10c48"]]},{"id":"b0263bf2.a10c48","type":"function","z":"89adc3e1.5c7f","name":"query","func":"msg.collection = \"sth_/_\"+msg.payload+\"_Sensor\";\nlet attr_name;\nif(msg.payload == \"IoTSmartReginaLabDC_temp\")\n    attr_name = \"w_l1\";\nelse if(msg.payload = \"Sensor:001\")\n    attr_name = \"potenciaAtiva\";\nelse if(msg.payload = \"SensorESP_SmartHouse\")\n    attr_name = \"power_active_a\";\nvar datePicked = flow.get(\"datePicked\");\nlet aux;\nif(datePicked) {\n    aux = new Date(datePicked);\n}else {\n    aux = new Date();\n}\n\nmsg.data = aux;\n\nmsg.payload = [\n    {$match: {\n        attrName: attr_name\n    }},\n    {$project: {\n        _id: {\n            attrValue: \"$attrValue\"\n        },\n        name: 1, month: {$month: \"$recvTime\"}, year: {$year: \"$recvTime\"}\n    }},\n    {$match: {\n        year: aux.getFullYear()\n    }}]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":264.18748474121094,"y":2905.8691844940186,"wires":[["7353657a.a82f2c"]]},{"id":"7353657a.a82f2c","type":"mongodb in","z":"89adc3e1.5c7f","mongodb":"416560f7.d7489","name":"MongoDB Sensor","collection":"","operation":"aggregate","x":319.8949508666992,"y":2760.90353679657,"wires":[["c54c800c.ae31c","bb46821a.f7322"]]},{"id":"c54c800c.ae31c","type":"debug","z":"89adc3e1.5c7f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":463.89490509033203,"y":2870.90345287323,"wires":[]},{"id":"bb46821a.f7322","type":"function","z":"89adc3e1.5c7f","name":"Filter data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=1; i <= 12; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nmsg.payload.forEach((elem, idx) => {\n    if(elem.month === 1) {\n        m.labelsCount[0] += 1;\n        m.labelsSum[0] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 2) {\n        m.labelsCount[1] += 1;\n        m.labelsSum[1] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 3) {\n        m.labelsCount[2] += 1;\n        m.labelsSum[2] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 4) {\n        m.labelsCount[3] += 1;\n        m.labelsSum[3] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 5) {\n        m.labelsCount[4] += 1;\n        m.labelsSum[4] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 6) {\n        m.labelsCount[5] += 1;\n        m.labelsSum[5] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 7) {\n        m.labelsCount[6] += 1;\n        m.labelsSum[6] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 8) {\n        m.labelsCount[7] += 1;\n        m.labelsSum[7] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 9) {\n        m.labelsCount[8] += 1;\n        m.labelsSum[8] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 10) {\n        m.labelsCount[9] += 1;\n        m.labelsSum[9] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 11) {\n        m.labelsCount[10] += 1;\n        m.labelsSum[10] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 12) {\n        m.labelsCount[11] += 1;\n        m.labelsSum[11] += parseFloat(elem._id.attrValue);\n    }\n})\n\nfor(i=0; i<12;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":2780,"wires":[["d8f3214e.1945c"]]},{"id":"d8f3214e.1945c","type":"ui_chart","z":"89adc3e1.5c7f","name":"","group":"b83aab1c.b0fde8","order":1,"width":5,"height":4,"label":"Média Anual","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":2780,"wires":[[]]},{"id":"73634e54.a77a7","type":"inject","z":"89adc3e1.5c7f","name":"","props":[{"p":"payload","v":"select","vt":"flow"},{"p":"topic","v":"","vt":"string"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":110,"y":3200,"wires":[["17f04549.6405ab"]]},{"id":"17f04549.6405ab","type":"function","z":"89adc3e1.5c7f","name":"query","func":"msg.collection = \"sth_/_\"+msg.payload+\"_Sensor\";\nlet attr_name;\nif(msg.payload == \"IoTSmartReginaLabDC_temp\")\n    attr_name = \"a_l1\";\nelse if(msg.payload = \"Sensor:001\")\n    attr_name = \"correnteA\";\nelse if(msg.payload = \"SensorESP_SmartHouse\")\n    attr_name = \"corrente_a\";\nvar datePicked = flow.get(\"datePicked\");\nlet aux;\nif(datePicked) {\n    aux = new Date(datePicked);\n}else {\n    aux = new Date();\n}\n\nmsg.data = aux;\n\nmsg.payload = [\n    {$match: {\n        attrName: attr_name\n    }},\n    {$project: {\n        _id: {\n            attrValue: \"$attrValue\"\n        },\n        name: 1, month: {$month: \"$recvTime\"}, year: {$year: \"$recvTime\"}\n    }},\n    {$match: {\n        year: aux.getFullYear()\n    }}]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":264.18748474121094,"y":3165.8691844940186,"wires":[["967d31e6.45943"]]},{"id":"967d31e6.45943","type":"mongodb in","z":"89adc3e1.5c7f","mongodb":"416560f7.d7489","name":"MongoDB Sensor","collection":"","operation":"aggregate","x":319.8949508666992,"y":3020.90353679657,"wires":[["49cf3391.3a407c","4fe8ab21.65a484"]]},{"id":"49cf3391.3a407c","type":"debug","z":"89adc3e1.5c7f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":463.89490509033203,"y":3130.90345287323,"wires":[]},{"id":"4fe8ab21.65a484","type":"function","z":"89adc3e1.5c7f","name":"Filter data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=1; i <= 12; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nmsg.payload.forEach((elem, idx) => {\n    if(elem.month === 1) {\n        m.labelsCount[0] += 1;\n        m.labelsSum[0] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 2) {\n        m.labelsCount[1] += 1;\n        m.labelsSum[1] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 3) {\n        m.labelsCount[2] += 1;\n        m.labelsSum[2] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 4) {\n        m.labelsCount[3] += 1;\n        m.labelsSum[3] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 5) {\n        m.labelsCount[4] += 1;\n        m.labelsSum[4] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 6) {\n        m.labelsCount[5] += 1;\n        m.labelsSum[5] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 7) {\n        m.labelsCount[6] += 1;\n        m.labelsSum[6] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 8) {\n        m.labelsCount[7] += 1;\n        m.labelsSum[7] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 9) {\n        m.labelsCount[8] += 1;\n        m.labelsSum[8] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 10) {\n        m.labelsCount[9] += 1;\n        m.labelsSum[9] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 11) {\n        m.labelsCount[10] += 1;\n        m.labelsSum[10] += parseFloat(elem._id.attrValue);\n    }else if(elem.month === 12) {\n        m.labelsCount[11] += 1;\n        m.labelsSum[11] += parseFloat(elem._id.attrValue);\n    }\n})\n\nfor(i=0; i<12;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":3040,"wires":[["cca6e395.36496"]]},{"id":"cca6e395.36496","type":"ui_chart","z":"89adc3e1.5c7f","name":"","group":"ae2737e1.3e0878","order":1,"width":5,"height":4,"label":"Média Anual","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":3040,"wires":[[]]},{"id":"af6bef9a.1e727","type":"ui_group","name":"Sensores","tab":"2d6b9ea.9d3c362","order":3,"disp":true,"width":6,"collapse":false},{"id":"727ea626.8fc638","type":"ui_group","name":"Tensão","tab":"2d6b9ea.9d3c362","order":4,"disp":true,"width":"5","collapse":false},{"id":"416560f7.d7489","type":"mongodb","hostname":"143.107.145.33","port":"27000","db":"sth_helixiot","name":""},{"id":"b83aab1c.b0fde8","type":"ui_group","name":"Potência","tab":"2d6b9ea.9d3c362","order":3,"disp":true,"width":"5","collapse":false},{"id":"ae2737e1.3e0878","type":"ui_group","name":"Corrente","tab":"2d6b9ea.9d3c362","order":4,"disp":true,"width":"5","collapse":false},{"id":"2d6b9ea.9d3c362","type":"ui_tab","name":"Gráficos","icon":"dashboard","order":2,"disabled":false,"hidden":false}]