flow1.json
[{"id":"6bba69ae.c84328","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"98324eab.de069","type":"json","z":"6bba69ae.c84328","name":"","property":"payload","action":"","pretty":false,"x":515.5000076293945,"y":296.99987030029297,"wires":[["e5af58bb.0543b8","4c7a47d2.578c48","605c729b.e3cc5c","f68767be.28f578","a17f5798.3e2f08","5702488f.391f98","daef5c6e.008fd","bcd519da.3fa728","158e03eb.1fd43c","d0c831da.ddeca"]]},{"id":"e5af58bb.0543b8","type":"function","z":"6bba69ae.c84328","name":"Get Voltage 1","func":"if(msg.payload.v_l1n)\n    return msg.payload.v_l1n;\nelse if(msg.payload.voltA)\n    return msg.payload.voltA;\nelse if(msg.payload.voltagem_a)\n    return msg.payload.voltagem_a;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":140,"wires":[["9ae0aaa8.a07878"]]},{"id":"4c7a47d2.578c48","type":"function","z":"6bba69ae.c84328","name":"Get Power 1","func":"if(msg.payload.w_l1)\n    return msg.payload.w_l1;\nelse if(msg.payload.potenciaAtiva)\n    return msg.payload.potenciaAtiva;\nelse if(msg.payload.power_active_a)\n    return msg.payload.power_active_a;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":440,"wires":[["c38a09.424a05f8"]]},{"id":"605c729b.e3cc5c","type":"function","z":"6bba69ae.c84328","name":"Get Current 1","func":"if(msg.payload.a_l1)\n    return msg.payload.a_l1;\nelse if(msg.payload.correnteA)\n    return msg.payload.correnteA;\nelse if(msg.payload.corrente_a)\n    return msg.payload.corrente_a;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":740,"wires":[["66d4b1f8.ebe34"]]},{"id":"503f69ba.d1ad98","type":"function","z":"6bba69ae.c84328","name":"Filter IDs","func":"var ids = [];\nmsg.payload.forEach((elem, idx) => {\n    ids.push(elem.id);\n});\nreturn {options:ids};","outputs":1,"noerr":0,"x":812.0085067749023,"y":35.04828453063965,"wires":[["b793936c.dfb07"]]},{"id":"f53b46cb.744d88","type":"http request","z":"6bba69ae.c84328","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":560.1988258361816,"y":39.61647891998291,"wires":[["503f69ba.d1ad98"]]},{"id":"80e866dc.e43598","type":"function","z":"6bba69ae.c84328","name":"Make request","func":"msg.method = \"GET\";\nmsg.url = \"http://143.107.145.33:1026/v2/entities?type=Sensor\"\nmsg.headers = {};\nmsg.headers['fiware-service'] = 'helixiot';\nmsg.headers['fiware-servicepath'] = '/';\nreturn msg;","outputs":1,"noerr":0,"x":333.6505432128906,"y":43.05113220214844,"wires":[["f53b46cb.744d88"]]},{"id":"5d4d862b.a41338","type":"inject","z":"6bba69ae.c84328","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":84.19601440429688,"y":35.97727012634277,"wires":[["80e866dc.e43598"]]},{"id":"b9ae39de.e34128","type":"inject","z":"6bba69ae.c84328","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":115.19882583618164,"y":274.96868896484375,"wires":[["33218950.aad5e6"]]},{"id":"366d95ab.57a68a","type":"change","z":"6bba69ae.c84328","name":"","rules":[{"t":"set","p":"select","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":291.2017135620117,"y":154.03406524658203,"wires":[[]]},{"id":"b793936c.dfb07","type":"ui_dropdown","z":"6bba69ae.c84328","name":"","label":"","tooltip":"","place":"Selecione um sensor","group":"ec7ac4ed.9be3e8","order":1,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":88,"y":162.5311222076416,"wires":[["366d95ab.57a68a"]]},{"id":"33218950.aad5e6","type":"NGSI-Entity","z":"6bba69ae.c84328","name":"","endpoint":"c04f97ca.dad838","protocol":"v2","ldContext":"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld","mode":"normalized","mimeType":"application/ld+json","attrs":"","x":332.91762924194336,"y":238.09077644348145,"wires":[["98324eab.de069"]]},{"id":"f68767be.28f578","type":"function","z":"6bba69ae.c84328","name":"Get kwh","func":"if(msg.payload.kwh_tot)\n    return msg.payload.kwh_tot;\nelse if(msg.payload.energiaAtiva)\n    return msg.payload.energiaAtiva;\nelse {\n    msg.payload.kwh = {};\n    msg.payload.kwh.type = \"float\";\n    msg.payload.kwh.value = 0;\n    return msg.payload.kwh;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1040,"wires":[["a61c567f.103d98","52c5e5ce.34349c"]]},{"id":"a61c567f.103d98","type":"ui_gauge","z":"6bba69ae.c84328","name":"","group":"848d61ef.149fa","order":1,"width":5,"height":4,"gtype":"gage","title":"Total","label":"kWh","format":"{{value}}","min":0,"max":"45000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40000","seg2":"42500","x":791.0263175964355,"y":1041.3103895783424,"wires":[]},{"id":"a17f5798.3e2f08","type":"function","z":"6bba69ae.c84328","name":"Get Voltage 2","func":"if(msg.payload.v_l2n)\n    return msg.payload.v_l1n;\nelse if(msg.payload.voltB)\n    return msg.payload.voltB;\nelse if(msg.payload.voltagem_b)\n    return msg.payload.voltagem_b;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":751.4999961853027,"y":226.00010013580322,"wires":[["21607d8c.6de382"]]},{"id":"5702488f.391f98","type":"function","z":"6bba69ae.c84328","name":"Get Voltage 3","func":"if(msg.payload.v_l3n)\n    return msg.payload.v_l3n;\nelse if(msg.payload.voltC)\n    return msg.payload.voltC;\nelse if(msg.payload.voltagem_c)\n    return msg.payload.voltagem_c;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":751.4999961853027,"y":306.0001001358032,"wires":[["cad141b4.8b2e4"]]},{"id":"daef5c6e.008fd","type":"function","z":"6bba69ae.c84328","name":"Get Power 2","func":"if(msg.payload.w_l2)\n    return msg.payload.w_l2;\nelse if(msg.payload.potenciaReativa)\n    return msg.payload.potenciaReativa;\nelse if(msg.payload.power_active_b)\n    return msg.payload.power_active_b;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":520,"wires":[["10a7257.0bedcdb"]]},{"id":"bcd519da.3fa728","type":"function","z":"6bba69ae.c84328","name":"Get Power 3","func":"if(msg.payload.w_l3)\n    return msg.payload.w_l3;\nelse if(msg.payload.potenciaAparente)\n    return msg.payload.potenciaAparente;\nelse if(msg.payload.power_active_c)\n    return msg.payload.power_active_c;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":600,"wires":[["da02c3df.261ca"]]},{"id":"158e03eb.1fd43c","type":"function","z":"6bba69ae.c84328","name":"Get Current 2","func":"if(msg.payload.a_l2)\n    return msg.payload.a_l2;\nelse if(msg.payload.correnteB)\n    return msg.payload.correnteB;\nelse if(msg.payload.corrente_b)\n    return msg.payload.corrente_b;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":820,"wires":[["1ae68837.9af1b8"]]},{"id":"d0c831da.ddeca","type":"function","z":"6bba69ae.c84328","name":"Get Current 3","func":"if(msg.payload.a_l3)\n    return msg.payload.a_l3;\nelse if(msg.payload.correnteC)\n    return msg.payload.correnteC;\nelse if(msg.payload.corrente_c)\n    return msg.payload.corrente_c;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":900,"wires":[["c41d5734.36d378"]]},{"id":"21607d8c.6de382","type":"ui_text","z":"6bba69ae.c84328","group":"3fc021b9.eb240e","order":2,"width":0,"height":0,"name":"","label":"L2","format":"{{msg.value}} V","layout":"col-center","x":930,"y":240,"wires":[]},{"id":"cad141b4.8b2e4","type":"ui_text","z":"6bba69ae.c84328","group":"3fc021b9.eb240e","order":2,"width":0,"height":0,"name":"","label":"L3","format":"{{msg.value}} V","layout":"col-center","x":924,"y":322,"wires":[]},{"id":"c38a09.424a05f8","type":"ui_text","z":"6bba69ae.c84328","group":"a69bdabf.ce4408","order":2,"width":0,"height":0,"name":"","label":"L1","format":"{{msg.value}} W","layout":"col-center","x":892,"y":420,"wires":[]},{"id":"10a7257.0bedcdb","type":"ui_text","z":"6bba69ae.c84328","group":"a69bdabf.ce4408","order":2,"width":0,"height":0,"name":"","label":"L2","format":"{{msg.value}} W","layout":"col-center","x":870,"y":500,"wires":[]},{"id":"da02c3df.261ca","type":"ui_text","z":"6bba69ae.c84328","group":"a69bdabf.ce4408","order":2,"width":0,"height":0,"name":"","label":"L3","format":"{{msg.value}} W","layout":"col-center","x":846,"y":592,"wires":[]},{"id":"66d4b1f8.ebe34","type":"ui_text","z":"6bba69ae.c84328","group":"7cc9747b.3a58cc","order":2,"width":0,"height":0,"name":"","label":"L1","format":"{{msg.value}} A","layout":"col-center","x":850,"y":740,"wires":[]},{"id":"1ae68837.9af1b8","type":"ui_text","z":"6bba69ae.c84328","group":"7cc9747b.3a58cc","order":2,"width":0,"height":0,"name":"","label":"L2","format":"{{msg.value}} A","layout":"col-center","x":850,"y":820,"wires":[]},{"id":"c41d5734.36d378","type":"ui_text","z":"6bba69ae.c84328","group":"7cc9747b.3a58cc","order":2,"width":0,"height":0,"name":"","label":"L3","format":"{{msg.value}} A","layout":"col-center","x":830,"y":900,"wires":[]},{"id":"9ae0aaa8.a07878","type":"ui_gauge","z":"6bba69ae.c84328","name":"","group":"3fc021b9.eb240e","order":1,"width":0,"height":0,"gtype":"gage","title":"L1","label":"V","format":"{{value}}","min":"191","max":"233","colors":["#00b500","#e6e600","#ca3838"],"seg1":"231","seg2":"231","x":930,"y":140,"wires":[]},{"id":"4df4138c.660e1c","type":"ui_text","z":"6bba69ae.c84328","group":"848d61ef.149fa","order":1,"width":0,"height":0,"name":"","label":"R$","format":"{{msg.value}}","layout":"row-center","x":930,"y":1100,"wires":[]},{"id":"52c5e5ce.34349c","type":"function","z":"6bba69ae.c84328","name":"Calc Fatura","func":"\n// Consumidor Residencial - B1\nmsg.value = (parseFloat(msg.value) * 0.52557).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":1100,"wires":[["4df4138c.660e1c"]]},{"id":"3972e147.756a7e","type":"function","z":"6bba69ae.c84328","name":"Filter data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=0; i < 24; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar ontem = new Date(msg.data[0]);\n\n//m.series.push(hj.toString());\nvar ano = ontem.getFullYear(), mes = ontem.getMonth()+1, dia = ontem.getDate();\nvar hour = '';\n\n//var msg = {};\nlet data;\nlet d;\nmsg.payload.forEach((elem, idx) => {\n    // Deve-se fazer a conversao para GMT-3 aqui?\n    // Com a conversao os valores so sao guardados ate as 20h\n    data = new Date(elem.recvTime);\n    \n    if(ano == data.getFullYear() && mes == data.getMonth()+1 && dia == data.getDate()) {\n        //console.log(ano);\n        var hour = data.getHours();\n        //m.series.push(hour);\n        if(hour === 0) {\n            m.labelsCount[0] += 1;\n            m.labelsSum[0] += parseFloat(elem.attrValue);\n        }else if(hour === 1) {\n            m.labelsCount[1] += 1;\n            m.labelsSum[1] += parseFloat(elem.attrValue);\n        }else if(hour === 2) {\n            m.labelsCount[2] += 1;\n            m.labelsSum[2] += parseFloat(elem.attrValue);\n        }else if(hour === 3) {\n            m.labelsCount[3] += 1;\n            m.labelsSum[3] += parseFloat(elem.attrValue);\n        }else if(hour === 4) {\n            m.labelsCount[4] += 1;\n            m.labelsSum[4] += parseFloat(elem.attrValue);\n        }else if(hour === 5) {\n            m.labelsCount[5] += 1;\n            m.labelsSum[5] += parseFloat(elem.attrValue);\n        }else if(hour === 6) {\n            m.labelsCount[6] += 1;\n            m.labelsSum[6] += parseFloat(elem.attrValue);\n        }else if(hour === 7) {\n            m.labelsCount[7] += 1;\n            m.labelsSum[7] += parseFloat(elem.attrValue);\n        }else if(hour === 8) {\n            m.labelsCount[8] += 1;\n            m.labelsSum[8] += parseFloat(elem.attrValue);\n        }else if(hour === 9) {\n            m.labelsCount[9] += 1;\n            m.labelsSum[9] += parseFloat(elem.attrValue);\n        }else if(hour === 10) {\n            m.labelsCount[10] += 1;\n            m.labelsSum[10] += parseFloat(elem.attrValue);\n        }else if(hour === 11) {\n            m.labelsCount[11] += 1;\n            m.labelsSum[11] += parseFloat(elem.attrValue);\n        }else if(hour === 12) {\n            m.labelsCount[12] += 1;\n            m.labelsSum[12] += parseFloat(elem.attrValue);\n        }else if(hour === 13) {\n            m.labelsCount[13] += 1;\n            m.labelsSum[13] += parseFloat(elem.attrValue);\n        }else if(hour === 14) {\n            m.labelsCount[14] += 1;\n            m.labelsSum[14] += parseFloat(elem.attrValue);\n        }else if(hour === 15) {\n            m.labelsCount[15] += 1;\n            m.labelsSum[15] += parseFloat(elem.attrValue);\n        }else if(hour === 16) {\n            m.labelsCount[16] += 1;\n            m.labelsSum[16] += parseFloat(elem.attrValue);\n        }else if(hour === 17) {\n            m.labelsCount[17] += 1;\n            m.labelsSum[17] += parseFloat(elem.attrValue);\n        }else if(hour === 18) {\n            m.labelsCount[18] += 1;\n            m.labelsSum[18] += parseFloat(elem.attrValue);\n        }else if(hour === 19) {\n            m.labelsCount[19] += 1;\n            m.labelsSum[19] += parseFloat(elem.attrValue);\n        }else if(hour === 20) {\n            m.labelsCount[20] += 1;\n            m.labelsSum[20] += parseFloat(elem.attrValue);\n        }else if(hour === 21) {\n            m.labelsCount[21] += 1;\n            m.labelsSum[21] += parseFloat(elem.attrValue);\n        }else if(hour === 22) {\n            m.labelsCount[22] += 1;\n            m.labelsSum[22] += parseFloat(elem.attrValue);\n        }else if(hour === 23) {\n            m.labelsCount[23] += 1;\n            m.labelsSum[23] += parseFloat(elem.attrValue);\n        }\n    }\n    else {\n        //m.series.push(ano+'-'+mes+'-'+dia);\n    }\n    //m.data[0].push(parseFloat(elem.attrValue));\n})\n\nfor(i=0; i<24;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"x":600,"y":1980,"wires":[["4a27867e.2619a8"]]},{"id":"27800e28.d6b302","type":"inject","z":"6bba69ae.c84328","name":"","props":[{"p":"payload","v":"select","vt":"flow"},{"p":"topic","v":"","vt":"string"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":147.60513305664062,"y":2108.0965299606323,"wires":[["531f929c.87c57c"]]},{"id":"531f929c.87c57c","type":"function","z":"6bba69ae.c84328","name":"query","func":"msg.collection = \"sth_/_\"+msg.payload+\"_Sensor\";\nlet attrName;\nif(msg.payload == \"IoTSmartReginaLabDC_temp\")\n    attrName = \"v_l1n\";\nelse if(msg.payload = \"Sensor:001\")\n    attrName = \"voltA\";\nelse if(msg.payload = \"SensorESP_SmartHouse\")\n    attrName = \"voltagem_a\";\nvar datePicked = flow.get(\"datePicked\");\nlet aux;\nif(datePicked) {\n    aux = new Date(datePicked);\n}else {\n    aux = new Date();\n}\n\n/*var data = aux.getTime() - (aux.getTimezoneOffset() * 60000)\nvar dataInicio = new Date(data - (3600000*3));\ndataInicio.setHours(0, 0, 0, 0);\nvar dataFim = new Date(dataInicio);*/\n//flow.set(\"datePicked\", hjInicio.toLocaleDateString(\"en-US\"));\ndataInicio = new Date(aux);\ndataInicio.setHours(0, 0, 0, 0);\ndataFim = new Date(aux);\ndataFim.setHours(23, 59, 59, 999);\n/*dataFim.setDate(aux.getDate() + 1);\ndataFim.setHours(0,0,0,0);*/\n//var aux1 = new Date(dataInicio), aux2 = new Date(dataFim);\n\nmsg.data = [dataInicio, dataFim];\nmsg.payload = {\"recvTime\": {\"$gte\": dataInicio,\"$lte\": dataFim}, \"attrName\": attrName};\nmsg.limit = 150000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":301.79261779785156,"y":2073.965714454651,"wires":[["473ba0bc.c036"]]},{"id":"4a27867e.2619a8","type":"ui_chart","z":"6bba69ae.c84328","name":"","group":"727ea626.8fc638","order":1,"width":5,"height":4,"label":"Média Diária","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"24","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":810,"y":2020,"wires":[[]]},{"id":"473ba0bc.c036","type":"mongodb in","z":"6bba69ae.c84328","mongodb":"416560f7.d7489","name":"MongoDB Sensor","collection":"","operation":"find","x":357.50008392333984,"y":1929.0000667572021,"wires":[["3972e147.756a7e","db825bad.617588"]]},{"id":"db825bad.617588","type":"debug","z":"6bba69ae.c84328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":501.50003814697266,"y":2038.9999828338623,"wires":[]},{"id":"ec7ac4ed.9be3e8","type":"ui_group","name":"Sensores","tab":"ab8405dd.268e18","order":1,"disp":true,"width":5,"collapse":false},{"id":"c04f97ca.dad838","type":"Context-Broker","name":"OrionHelixUSP","endpoint":"http://143.107.145.33:1026","service":"helixiot","idmEndpoint":""},{"id":"848d61ef.149fa","type":"ui_group","name":"Consumo","tab":"ab8405dd.268e18","order":5,"disp":true,"width":5,"collapse":false},{"id":"3fc021b9.eb240e","type":"ui_group","name":"Tensão","tab":"ab8405dd.268e18","order":2,"disp":true,"width":5,"collapse":false},{"id":"a69bdabf.ce4408","type":"ui_group","name":"Potência","tab":"ab8405dd.268e18","order":3,"disp":true,"width":5,"collapse":false},{"id":"7cc9747b.3a58cc","type":"ui_group","name":"Corrente","tab":"ab8405dd.268e18","order":4,"disp":true,"width":5,"collapse":false},{"id":"727ea626.8fc638","type":"ui_group","name":"Tensão","tab":"2d6b9ea.9d3c362","order":4,"disp":true,"width":"5","collapse":false},{"id":"416560f7.d7489","type":"mongodb","hostname":"143.107.145.33","port":"27000","db":"sth_helixiot","name":""},{"id":"ab8405dd.268e18","type":"ui_tab","name":"Tempo-real","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2d6b9ea.9d3c362","type":"ui_tab","name":"Gráficos","icon":"dashboard","order":2,"disabled":false,"hidden":false}]