flow1.json
[{"id":"6bba69ae.c84328","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"98324eab.de069","type":"json","z":"6bba69ae.c84328","name":"","property":"payload","action":"","pretty":false,"x":515.5000076293945,"y":296.99987030029297,"wires":[["e5af58bb.0543b8","4c7a47d2.578c48","605c729b.e3cc5c","f68767be.28f578"]]},{"id":"e5af58bb.0543b8","type":"function","z":"6bba69ae.c84328","name":"Get Voltage","func":"if(msg.payload.v_l1n)\n    return msg.payload.v_l1n;\nelse if(msg.payload.voltA)\n    return msg.payload.voltA;\nelse if(msg.payload.voltagem_a)\n    return msg.payload.voltagem_a;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":698.5000038146973,"y":193.99989986419678,"wires":[["38a137cd.bb1a28"]]},{"id":"4c7a47d2.578c48","type":"function","z":"6bba69ae.c84328","name":"Get Power","func":"if(msg.payload.w_l1)\n    return msg.payload.w_l1;\nelse if(msg.payload.potenciaAtiva)\n    return msg.payload.potenciaAtiva;\nelse if(msg.payload.power_active_a)\n    return msg.payload.power_active_a;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":706.0000038146973,"y":260.9998998641968,"wires":[["f6d7a4.e815d86"]]},{"id":"605c729b.e3cc5c","type":"function","z":"6bba69ae.c84328","name":"Get Current","func":"if(msg.payload.a_l1)\n    return msg.payload.a_l1;\nelse if(msg.payload.correnteA)\n    return msg.payload.correnteA;\nelse if(msg.payload.corrente_a)\n    return msg.payload.corrente_a;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":679.0000038146973,"y":356.9998998641968,"wires":[["e8008475.45d3b8"]]},{"id":"503f69ba.d1ad98","type":"function","z":"6bba69ae.c84328","name":"Filter IDs","func":"var ids = [];\nmsg.payload.forEach((elem, idx) => {\n    ids.push(elem.id);\n});\nreturn {options:ids};","outputs":1,"noerr":0,"x":812.0085067749023,"y":35.04828453063965,"wires":[["b793936c.dfb07"]]},{"id":"f53b46cb.744d88","type":"http request","z":"6bba69ae.c84328","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":560.1988258361816,"y":39.61647891998291,"wires":[["503f69ba.d1ad98"]]},{"id":"80e866dc.e43598","type":"function","z":"6bba69ae.c84328","name":"Make request","func":"msg.method = \"GET\";\nmsg.url = \"http://143.107.145.33:1026/v2/entities?type=Sensor\"\nmsg.headers = {};\nmsg.headers['fiware-service'] = 'helixiot';\nmsg.headers['fiware-servicepath'] = '/';\nreturn msg;","outputs":1,"noerr":0,"x":333.6505432128906,"y":43.05113220214844,"wires":[["f53b46cb.744d88"]]},{"id":"5d4d862b.a41338","type":"inject","z":"6bba69ae.c84328","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":84.19601440429688,"y":35.97727012634277,"wires":[["80e866dc.e43598"]]},{"id":"b9ae39de.e34128","type":"inject","z":"6bba69ae.c84328","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":115.19882583618164,"y":274.96868896484375,"wires":[["33218950.aad5e6"]]},{"id":"366d95ab.57a68a","type":"change","z":"6bba69ae.c84328","name":"","rules":[{"t":"set","p":"select","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":291.2017135620117,"y":154.03406524658203,"wires":[[]]},{"id":"b793936c.dfb07","type":"ui_dropdown","z":"6bba69ae.c84328","name":"","label":"","tooltip":"","place":"Selecione um sensor","group":"ec7ac4ed.9be3e8","order":1,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":88,"y":162.5311222076416,"wires":[["366d95ab.57a68a"]]},{"id":"38a137cd.bb1a28","type":"ui_gauge","z":"6bba69ae.c84328","name":"","group":"3fc021b9.eb240e","order":1,"width":5,"height":4,"gtype":"gage","title":"L1","label":"V","format":"{{value}}","min":0,"max":"450","colors":["#ca3838","#e6e600","#14b01f"],"seg1":"150","seg2":"300","x":890.5000038146973,"y":210.99989986419678,"wires":[]},{"id":"f6d7a4.e815d86","type":"ui_gauge","z":"6bba69ae.c84328","name":"","group":"a69bdabf.ce4408","order":1,"width":5,"height":4,"gtype":"gage","title":"L1","label":"W","format":"{{value}}","min":0,"max":"45000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40000","seg2":"42500","x":865.5000038146973,"y":283.9998998641968,"wires":[]},{"id":"e8008475.45d3b8","type":"ui_gauge","z":"6bba69ae.c84328","name":"","group":"7cc9747b.3a58cc","order":1,"width":5,"height":4,"gtype":"gage","title":"L1","label":"A","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"140","seg2":"145","x":859.5000038146973,"y":363.9998998641968,"wires":[]},{"id":"33218950.aad5e6","type":"NGSI-Entity","z":"6bba69ae.c84328","name":"","endpoint":"c04f97ca.dad838","protocol":"v2","ldContext":"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld","mode":"normalized","mimeType":"application/ld+json","attrs":"","x":332.91762924194336,"y":238.09077644348145,"wires":[["98324eab.de069"]]},{"id":"f68767be.28f578","type":"function","z":"6bba69ae.c84328","name":"Get kwh","func":"if(msg.payload.kwh_tot)\n    return msg.payload.kwh_tot;\nelse {\n    msg.payload.kwh = {};\n    msg.payload.kwh.type = \"float\";\n    msg.payload.kwh.value = 0;\n    return msg.payload.kwh;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":460,"wires":[["a61c567f.103d98"]]},{"id":"a61c567f.103d98","type":"ui_gauge","z":"6bba69ae.c84328","name":"","group":"848d61ef.149fa","order":1,"width":5,"height":4,"gtype":"gage","title":"Total","label":"kWh","format":"{{value}}","min":0,"max":"45000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40000","seg2":"42500","x":811.0263175964355,"y":461.31038957834244,"wires":[]},{"id":"ec7ac4ed.9be3e8","type":"ui_group","name":"Sensores","tab":"ab8405dd.268e18","order":1,"disp":true,"width":5,"collapse":false},{"id":"3fc021b9.eb240e","type":"ui_group","name":"Tensão","tab":"ab8405dd.268e18","order":2,"disp":true,"width":5,"collapse":false},{"id":"a69bdabf.ce4408","type":"ui_group","name":"Potência","tab":"ab8405dd.268e18","order":3,"disp":true,"width":5,"collapse":false},{"id":"7cc9747b.3a58cc","type":"ui_group","name":"Corrente","tab":"ab8405dd.268e18","order":4,"disp":true,"width":5,"collapse":false},{"id":"c04f97ca.dad838","type":"Context-Broker","name":"OrionHelixUSP","endpoint":"http://143.107.145.33:1026","service":"helixiot","idmEndpoint":""},{"id":"848d61ef.149fa","type":"ui_group","name":"Consumo","tab":"ab8405dd.268e18","order":5,"disp":true,"width":5,"collapse":false},{"id":"ab8405dd.268e18","type":"ui_tab","name":"Tempo-real","icon":"dashboard","order":1,"disabled":false,"hidden":false}]