flows.json
[{"id":"6bba69ae.c84328","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5a955f0b.3b0ca","type":"debug","z":"6bba69ae.c84328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":660,"wires":[]},{"id":"98324eab.de069","type":"json","z":"6bba69ae.c84328","name":"","property":"payload","action":"","pretty":false,"x":515.5000076293945,"y":296.99987030029297,"wires":[["e5af58bb.0543b8","4c7a47d2.578c48","605c729b.e3cc5c","b1eba002.96f27"]]},{"id":"e5af58bb.0543b8","type":"function","z":"6bba69ae.c84328","name":"Get Voltage","func":"if(msg.payload.v_l1n)\n    return msg.payload.v_l1n;\nelse if(msg.payload.voltagem_a)\n    return msg.payload.voltagem_a;","outputs":1,"noerr":0,"x":698.5000038146973,"y":193.99989986419678,"wires":[["38a137cd.bb1a28"]]},{"id":"4c7a47d2.578c48","type":"function","z":"6bba69ae.c84328","name":"Get Power","func":"if(msg.payload.w_l1)\n    return msg.payload.w_l1;\nelse if(msg.payload.power_active_a)\n    return msg.payload.power_active_a;","outputs":1,"noerr":0,"x":706.0000038146973,"y":260.9998998641968,"wires":[["f6d7a4.e815d86"]]},{"id":"605c729b.e3cc5c","type":"function","z":"6bba69ae.c84328","name":"Get Current","func":"if(msg.payload.a_l1)\n    return msg.payload.a_l1;\nelse if(msg.payload.corrente_a)\n    return msg.payload.corrente_a;","outputs":1,"noerr":0,"x":679.0000038146973,"y":356.9998998641968,"wires":[["e8008475.45d3b8"]]},{"id":"7e16f452.afc62c","type":"function","z":"6bba69ae.c84328","name":"Filter data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=0; i < 24; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar ontem = new Date(msg.data[0]);\n\n//m.series.push(hj.toString());\nvar ano = ontem.getFullYear(), mes = ontem.getMonth()+1, dia = ontem.getDate();\nvar hour = '';\n\n//var msg = {};\nlet data;\nlet d;\nmsg.payload.forEach((elem, idx) => {\n    // Deve-se fazer a conversao para GMT-3 aqui?\n    // Com a conversao os valores so sao guardados ate as 20h\n    data = new Date(elem.recvTime);\n    \n    if(ano == data.getFullYear() && mes == data.getMonth()+1 && dia == data.getDate()) {\n        //console.log(ano);\n        var hour = data.getHours();\n        //m.series.push(hour);\n        if(hour === 0) {\n            m.labelsCount[0] += 1;\n            m.labelsSum[0] += parseFloat(elem.attrValue);\n        }else if(hour === 1) {\n            m.labelsCount[1] += 1;\n            m.labelsSum[1] += parseFloat(elem.attrValue);\n        }else if(hour === 2) {\n            m.labelsCount[2] += 1;\n            m.labelsSum[2] += parseFloat(elem.attrValue);\n        }else if(hour === 3) {\n            m.labelsCount[3] += 1;\n            m.labelsSum[3] += parseFloat(elem.attrValue);\n        }else if(hour === 4) {\n            m.labelsCount[4] += 1;\n            m.labelsSum[4] += parseFloat(elem.attrValue);\n        }else if(hour === 5) {\n            m.labelsCount[5] += 1;\n            m.labelsSum[5] += parseFloat(elem.attrValue);\n        }else if(hour === 6) {\n            m.labelsCount[6] += 1;\n            m.labelsSum[6] += parseFloat(elem.attrValue);\n        }else if(hour === 7) {\n            m.labelsCount[7] += 1;\n            m.labelsSum[7] += parseFloat(elem.attrValue);\n        }else if(hour === 8) {\n            m.labelsCount[8] += 1;\n            m.labelsSum[8] += parseFloat(elem.attrValue);\n        }else if(hour === 9) {\n            m.labelsCount[9] += 1;\n            m.labelsSum[9] += parseFloat(elem.attrValue);\n        }else if(hour === 10) {\n            m.labelsCount[10] += 1;\n            m.labelsSum[10] += parseFloat(elem.attrValue);\n        }else if(hour === 11) {\n            m.labelsCount[11] += 1;\n            m.labelsSum[11] += parseFloat(elem.attrValue);\n        }else if(hour === 12) {\n            m.labelsCount[12] += 1;\n            m.labelsSum[12] += parseFloat(elem.attrValue);\n        }else if(hour === 13) {\n            m.labelsCount[13] += 1;\n            m.labelsSum[13] += parseFloat(elem.attrValue);\n        }else if(hour === 14) {\n            m.labelsCount[14] += 1;\n            m.labelsSum[14] += parseFloat(elem.attrValue);\n        }else if(hour === 15) {\n            m.labelsCount[15] += 1;\n            m.labelsSum[15] += parseFloat(elem.attrValue);\n        }else if(hour === 16) {\n            m.labelsCount[16] += 1;\n            m.labelsSum[16] += parseFloat(elem.attrValue);\n        }else if(hour === 17) {\n            m.labelsCount[17] += 1;\n            m.labelsSum[17] += parseFloat(elem.attrValue);\n        }else if(hour === 18) {\n            m.labelsCount[18] += 1;\n            m.labelsSum[18] += parseFloat(elem.attrValue);\n        }else if(hour === 19) {\n            m.labelsCount[19] += 1;\n            m.labelsSum[19] += parseFloat(elem.attrValue);\n        }else if(hour === 20) {\n            m.labelsCount[20] += 1;\n            m.labelsSum[20] += parseFloat(elem.attrValue);\n        }else if(hour === 21) {\n            m.labelsCount[21] += 1;\n            m.labelsSum[21] += parseFloat(elem.attrValue);\n        }else if(hour === 22) {\n            m.labelsCount[22] += 1;\n            m.labelsSum[22] += parseFloat(elem.attrValue);\n        }else if(hour === 23) {\n            m.labelsCount[23] += 1;\n            m.labelsSum[23] += parseFloat(elem.attrValue);\n        }\n    }\n    else {\n        //m.series.push(ano+'-'+mes+'-'+dia);\n    }\n    //m.data[0].push(parseFloat(elem.attrValue));\n})\n\nfor(i=0; i<24;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"x":588.4999618530273,"y":961.0000171661377,"wires":[["c7f0f7a6.116248"]]},{"id":"503f69ba.d1ad98","type":"function","z":"6bba69ae.c84328","name":"Filter IDs","func":"var ids = [];\nmsg.payload.forEach((elem, idx) => {\n    ids.push(elem.id);\n});\nreturn {options:ids};","outputs":1,"noerr":0,"x":812.0085067749023,"y":35.04828453063965,"wires":[["b793936c.dfb07"]]},{"id":"f53b46cb.744d88","type":"http request","z":"6bba69ae.c84328","name":"","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":560.1988258361816,"y":39.61647891998291,"wires":[["503f69ba.d1ad98"]]},{"id":"80e866dc.e43598","type":"function","z":"6bba69ae.c84328","name":"Make request","func":"msg.method = \"GET\";\nmsg.url = \"http://143.107.145.33:1026/v2/entities?type=Sensor\"\nmsg.headers = {};\nmsg.headers['fiware-service'] = 'helixiot';\nmsg.headers['fiware-servicepath'] = '/';\nreturn msg;","outputs":1,"noerr":0,"x":333.6505432128906,"y":43.05113220214844,"wires":[["f53b46cb.744d88"]]},{"id":"5d4d862b.a41338","type":"inject","z":"6bba69ae.c84328","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":84.19601440429688,"y":35.97727012634277,"wires":[["80e866dc.e43598"]]},{"id":"b9ae39de.e34128","type":"inject","z":"6bba69ae.c84328","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":115.19882583618164,"y":274.96868896484375,"wires":[["33218950.aad5e6"]]},{"id":"366d95ab.57a68a","type":"change","z":"6bba69ae.c84328","name":"","rules":[{"t":"set","p":"select","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":291.2017135620117,"y":154.03406524658203,"wires":[[]]},{"id":"ab29fef3.f0e7e","type":"inject","z":"6bba69ae.c84328","name":"","props":[{"p":"payload","v":"select","vt":"flow"},{"p":"topic","v":"","vt":"string"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":136.10509490966797,"y":1089.09654712677,"wires":[["321085a0.ad67ea"]]},{"id":"321085a0.ad67ea","type":"function","z":"6bba69ae.c84328","name":"query","func":"msg.collection = \"sth_/_\"+msg.payload;\nvar aux = new Date();\nvar hj = aux.getTime() - (aux.getTimezoneOffset() * 60000)\nvar hjInicio = new Date(hj - (3600000*3));\nhjInicio.setHours(0, 0, 0, 0);\nvar hjFim = new Date(hjInicio);\n//flow.set(\"datePicked\", hjInicio.toLocaleDateString(\"en-US\"));\nhjFim.setHours(23, 59, 59, 999);\nmsg.data = [hjInicio, hjFim];\nmsg.payload = {\"recvTime\": {\"$gte\": hjInicio,\"$lte\": hjFim}, \"attrName\": \"v_l1n\"};\nmsg.limit = 150000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290.2925796508789,"y":1054.9657316207886,"wires":[["6e795685.da6d68"]]},{"id":"b1eba002.96f27","type":"function","z":"6bba69ae.c84328","name":"Get kwh","func":"if(msg.payload.kwh_tot)\n    return msg.payload.kwh_tot;\nelse {\n    msg.payload.kwh = {};\n    msg.payload.kwh.type = \"float\";\n    msg.payload.kwh.value = 0;\n    return msg.payload.kwh;\n}","outputs":1,"noerr":0,"x":680.3550910949707,"y":467.1058091521263,"wires":[["24bdeae0.ccee56"]]},{"id":"b793936c.dfb07","type":"ui_dropdown","z":"6bba69ae.c84328","name":"","label":"","tooltip":"","place":"Selecione um sensor","group":"af6bef9a.1e727","order":1,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":88,"y":162.5311222076416,"wires":[["366d95ab.57a68a"]]},{"id":"38a137cd.bb1a28","type":"ui_gauge","z":"6bba69ae.c84328","name":"","group":"727ea626.8fc638","order":1,"width":4,"height":3,"gtype":"gage","title":"Tensão","label":"V","format":"{{value}}","min":0,"max":"250","colors":["#ca3838","#e6e600","#14b01f"],"seg1":"150","seg2":"175","x":900.5000038146973,"y":210.99989986419678,"wires":[]},{"id":"f6d7a4.e815d86","type":"ui_gauge","z":"6bba69ae.c84328","name":"","group":"727ea626.8fc638","order":2,"width":4,"height":3,"gtype":"gage","title":"Potência","label":"W","format":"{{value}}","min":0,"max":"45000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40000","seg2":"42500","x":875.5000038146973,"y":283.9998998641968,"wires":[]},{"id":"e8008475.45d3b8","type":"ui_gauge","z":"6bba69ae.c84328","name":"","group":"727ea626.8fc638","order":3,"width":4,"height":3,"gtype":"gage","title":"Corrente","label":"A","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"140","seg2":"145","x":869.5000038146973,"y":363.9998998641968,"wires":[]},{"id":"24bdeae0.ccee56","type":"ui_gauge","z":"6bba69ae.c84328","name":"","group":"af6bef9a.1e727","order":2,"width":5,"height":3,"gtype":"gage","title":"Consumo Total","label":"kWh","format":"{{value}}","min":0,"max":"45000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40000","seg2":"42500","x":861.3814086914062,"y":468.41619873046875,"wires":[]},{"id":"c7f0f7a6.116248","type":"ui_chart","z":"6bba69ae.c84328","name":"","group":"57f30240.daab4c","order":1,"width":5,"height":4,"label":"Tensão Média Diária","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":773.4999656677246,"y":988.9999809265137,"wires":[[]]},{"id":"6e795685.da6d68","type":"mongodb in","z":"6bba69ae.c84328","mongodb":"416560f7.d7489","name":"MongoDB Sensor","collection":"sth_/_IoTSmartReginaLabDC_temp_Sensor","operation":"find","x":346.0000457763672,"y":910.0000839233398,"wires":[["7e16f452.afc62c"]]},{"id":"33218950.aad5e6","type":"NGSI-Entity","z":"6bba69ae.c84328","name":"","endpoint":"c04f97ca.dad838","protocol":"v2","ldContext":"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld","mode":"normalized","mimeType":"application/ld+json","attrs":"","x":332.91762924194336,"y":238.09077644348145,"wires":[["98324eab.de069"]]},{"id":"94873e87.734ce","type":"inject","z":"6bba69ae.c84328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"datePicked","payloadType":"flow","x":190,"y":620,"wires":[["5a955f0b.3b0ca"]]},{"id":"61ac9249.626c0c","type":"debug","z":"6bba69ae.c84328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":480,"wires":[]},{"id":"1b76192d.adc3b7","type":"ui_template","z":"6bba69ae.c84328","group":"af6bef9a.1e727","name":"","order":3,"width":5,"height":7,"format":"<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Calendar</title>\n\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <!-- Bootstrap CSS -->\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css\"\n          integrity=\"sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4\" crossorigin=\"anonymous\">\n\t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js\" type=\"text/javascript\"></script>\n\t<style>\n\t\t\n\t\t.date-pick:hover {\n\t\t\tbackground-color: yellow;\n\t\t}\n\n\t</style>\n</head>\n<body>\n<div class=\"container-fluid\">\n    <div class=\"card\">\n        <h3 class=\"card-header\" id=\"monthAndYear\"></h3>\n        <table class=\"table-bordered table-responsive-sm\" id=\"calendar\">\n            <thead>\n            <tr>\n                <th>Sun</th>\n                <th>Mon</th>\n                <th>Tue</th>\n                <th>Wed</th>\n                <th>Thu</th>\n                <th>Fri</th>\n                <th>Sat</th>\n            </tr>\n            </thead>\n\n            <tbody id=\"calendar-body\">\n\n            </tbody>\n        </table>\n\n        <div class=\"form-inline\">\n\n            <button class=\"btn btn-outline-primary col-sm\" id=\"previous\" onclick=\"previous()\">Previous</button>\n\n            <button class=\"btn btn-outline-primary col-sm\" id=\"next\" onclick=\"next()\">Next</button>\n        </div>\n        <br/>\n        <form class=\"form-inline\">\n            <label class=\"lead\" for=\"month\">Jump To: </label>\n            <select class=\"form-control\" name=\"month\" id=\"month\" onchange=\"jump()\">\n                <option value=0>Jan</option>\n                <option value=1>Feb</option>\n                <option value=2>Mar</option>\n                <option value=3>Apr</option>\n                <option value=4>May</option>\n                <option value=5>Jun</option>\n                <option value=6>Jul</option>\n                <option value=7>Aug</option>\n                <option value=8>Sep</option>\n                <option value=9>Oct</option>\n                <option value=10>Nov</option>\n                <option value=11>Dec</option>\n            </select>\n\n\n            <label for=\"year\"></label><select class=\"form-control col-sm\" name=\"year\" id=\"year\" onchange=\"jump()\">\n            <option value=1990>1990</option>\n            <option value=1991>1991</option>\n            <option value=1992>1992</option>\n            <option value=1993>1993</option>\n            <option value=1994>1994</option>\n            <option value=1995>1995</option>\n            <option value=1996>1996</option>\n            <option value=1997>1997</option>\n            <option value=1998>1998</option>\n            <option value=1999>1999</option>\n            <option value=2000>2000</option>\n            <option value=2001>2001</option>\n            <option value=2002>2002</option>\n            <option value=2003>2003</option>\n            <option value=2004>2004</option>\n            <option value=2005>2005</option>\n            <option value=2006>2006</option>\n            <option value=2007>2007</option>\n            <option value=2008>2008</option>\n            <option value=2009>2009</option>\n            <option value=2010>2010</option>\n            <option value=2011>2011</option>\n            <option value=2012>2012</option>\n            <option value=2013>2013</option>\n            <option value=2014>2014</option>\n            <option value=2015>2015</option>\n            <option value=2016>2016</option>\n            <option value=2017>2017</option>\n            <option value=2018>2018</option>\n            <option value=2019>2019</option>\n            <option value=2020>2020</option>\n            <option value=2021>2021</option>\n            <option value=2022>2022</option>\n            <option value=2023>2023</option>\n            <option value=2024>2024</option>\n            <option value=2025>2025</option>\n            <option value=2026>2026</option>\n            <option value=2027>2027</option>\n            <option value=2028>2028</option>\n            <option value=2029>2029</option>\n            <option value=2030>2030</option>\n        </select></form>\n    </div>\n</div>\n<!--<button name=\"jump\" onclick=\"jump()\">Go</button>-->\n<script>\n\nlet today = new Date();\nlet currentMonth = today.getMonth();\nlet currentYear = today.getFullYear();\nlet selectYear = document.getElementById(\"year\");\nlet selectMonth = document.getElementById(\"month\");\n\nlet months = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\", \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\n\nlet monthAndYear = document.getElementById(\"monthAndYear\");\nshowCalendar(currentMonth, currentYear);\n\nlet datePicked;\n\nfunction next() {\n    currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;\n    currentMonth = (currentMonth + 1) % 12;\n    showCalendar(currentMonth, currentYear);\n}\n\nfunction previous() {\n    currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;\n    currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;\n    showCalendar(currentMonth, currentYear);\n}\n\nfunction jump() {\n    currentYear = parseInt(selectYear.value);\n    currentMonth = parseInt(selectMonth.value);\n    showCalendar(currentMonth, currentYear);\n}\n\nfunction showCalendar(month, year) {    \n    let firstDay = (new Date(year, month)).getDay();\n    let daysInMonth = 32 - new Date(year, month, 32).getDate();\n\n    let tbl = document.getElementById(\"calendar-body\"); // body of the calendar\n\n    // clearing all previous cells\n    tbl.innerHTML = \"\";\n\n    // filing data about month and in the page via DOM.\n    monthAndYear.innerHTML = months[month] + \" \" + year;\n    selectYear.value = year;\n    selectMonth.value = month;\n\n    // creating all cells\n    let date = 1;\n    for (let i = 0; i < 6; i++) {\n        // creates a table row\n        let row = document.createElement(\"tr\");\n\n        //creating individual cells, filing them up with data.\n        for (let j = 0; j < 7; j++) {\n            if (i === 0 && j < firstDay) {\n            \tlet cell = document.createElement(\"td\");\n                let cellText = document.createTextNode(\"\");\n                cell.appendChild(cellText);\n                row.appendChild(cell);\n            }\n            else if (date > daysInMonth) {\n                break;\n            }\n\n            else {\n                let cell = document.createElement(\"td\");\n                let cellText = document.createTextNode(date);\n                if (date === today.getDate() && year === today.getFullYear() && month === today.getMonth()) {\n                \tcell.classList.add(\"bg-info\");\n\t\t\t\t\t\n                } // color today's\n\t\t\t\tcell.classList.add(\"btn-light\");\n\t\t\t\tcell.classList.add(\"date-pick\");\n\t\t\t\t//cell.setAttribute('ng-click', \"send({datePicked:action()})\");\n                cell.appendChild(cellText);\n                row.appendChild(cell);\n                date++;\n            }\n        }\n\n        tbl.appendChild(row); // appending each row into calendar body.\n    }\n    \n    $('.date-pick').on('click', function(event) {\n\t\tevent.preventDefault();\n\t\tdatePicked = (parseInt(selectMonth.value)+1)+\"/\"+event.target.innerHTML+\"/\"+selectYear.value;\n\t});\n}\n\nfunction submitDate(msg, scope) {\n    console.log(\"Date Picked -> \"+datePicked);\n    scope.send({payload: datePicked});\n}\n\n(function(scope) {\n    scope.send({payload: \"preload\"});\n    scope.$watch('msg', function(msg) {\n        if(msg) {\n            submitDate(msg, scope);\n        }\n    });\n})(scope);\nthis.scope.action = function() {\n    console.log(\"Date Picked -> \"+datePicked);\n    scope.send({payload: datePicked});\n}\n\n</script>\n\n<!-- Optional JavaScript for bootstrap -->\n<!-- jQuery first, then Popper.js, then Bootstrap JS -->\n<script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\"\n        integrity=\"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo\"\n        crossorigin=\"anonymous\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js\"\n        integrity=\"sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ\"\n        crossorigin=\"anonymous\"></script>\n<script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js\"\n        integrity=\"sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm\"\n        crossorigin=\"anonymous\"></script>\n</body>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":200,"y":440,"wires":[["61ac9249.626c0c","ada2ec54.4a7ab"]]},{"id":"ada2ec54.4a7ab","type":"function","z":"6bba69ae.c84328","name":"","func":"if(msg.payload && msg.payload != \"preload\")\n    flow.set(\"datePicked\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[[]]},{"id":"7622a75a.016ef8","type":"inject","z":"6bba69ae.c84328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":360,"wires":[["1b76192d.adc3b7"]]},{"id":"af6bef9a.1e727","type":"ui_group","name":"Sensores","tab":"2d6b9ea.9d3c362","order":3,"disp":true,"width":5,"collapse":false},{"id":"727ea626.8fc638","type":"ui_group","name":"Tempo-real","tab":"2d6b9ea.9d3c362","order":4,"disp":true,"width":4,"collapse":false},{"id":"57f30240.daab4c","type":"ui_group","name":"Histórico","tab":"2d6b9ea.9d3c362","order":5,"disp":true,"width":5,"collapse":false},{"id":"416560f7.d7489","type":"mongodb","hostname":"143.107.145.33","port":"27000","db":"sth_helixiot","name":""},{"id":"c04f97ca.dad838","type":"Context-Broker","name":"OrionHelixUSP","endpoint":"http://143.107.145.33:1026","service":"helixiot","idmEndpoint":""},{"id":"2d6b9ea.9d3c362","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]